@use "sass:math";
@import "_functions.scss";
// Functions
@import "_reset.scss";
// Reset
@import "_fonts.scss";
// Fonts
@import "_vars&&templates.scss"; // Variables and templates

//-----------------------------BODY.WRAPPER------------------------
//-----------------------------------------------------------------
body {
  background-color: #6f83ab;
  font-family: $basic-font;
  font-size: $basic-fz;
  line-height: $basic-lh;

  .menu-open & {
    overflow: hidden;
  }
}

[class*="__container"] {
  //max-width: toRem(1710);
  max-width: toRem(1230);
  margin: 0 auto;
  padding: 0 toRem(15);
}

.wrapper {
  overflow: clip;
  min-height: $full-percentage;
  display: flex;
  flex-direction: column;

  & > main {
    flex-grow: 1;
  }
}

//-------------------------------HEADER-----------------------------------
//------------------------------------------------------------------------
.header {
  width: $full-percentage;
  // .header--position
  &--position {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }

  // .header__top
  &__top {
    padding: toRem(46) 0;

    @media (max-width: toEm(1007.98)) {
      padding: toRem(8) 0;
    }

    @media (max-width: $tablet-breakpoint) {
      padding: toRem(15) 0;
      .menu-open & {
        padding-bottom: toRem(90);
      }
    }
  }

  // .header__main
  &__main {
  }
}

.tophead {
  position: relative;
  z-index: 50;

  background-color: $blue-color;
  color: $white-color;

  // .tophead__container
  &__container {
    max-width: toRem(1230);
    display: flex;
    justify-content: space-between;
    column-gap: toRem(20);
    align-items: center;
    flex-wrap: wrap;
  }

  // .tophead__logo
  &__logo {
    position: relative;
    z-index: 51;
    flex: 0 1 toRem(210);
    width: toRem(210);
    height: toRem(36);
    object-fit: contain;
    object-position: center;
    @extend %image-size;

    @media (max-width: toEm(1007.98)) {
      flex: 0 1 toRem(190);
      width: toRem(190);
      height: toRem(36);
    }

    @media (max-width: $M-mob-bp) {
      flex: 0 1 toRem(150);
      width: toRem(150);
      height: toRem(36);
    }
  }

  // .tophead__contacts
  &__contacts {
  }
}

.logo {
}

.contacts {
  display: flex;
  align-items: center;
  column-gap: toRem(55);
  flex-wrap: wrap;

  @media (max-width: toEm(1007.98)) {
    column-gap: toRem(15);
  }

  @media (max-width: $tablet-breakpoint) {
    display: none;

    .menu-open & {
      row-gap: toRem(10);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: fixed;
      top: toEm(68);
      left: 0;
      width: 100%;
      z-index: 51;
    }
  }

  @media (max-width: toEm(654.98)) {
    .menu-open & {
      justify-content: center;
      column-gap: toRem(30);
    }
  }

  // .contacts__item
  &__item {
    display: flex;
    align-items: center;
    column-gap: toRem(17);
    transition: all 0.3s;
    font-family: $basic-font;
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.3;

    @media (any-hover: hover) {
      &:hover {
        color: $yellow-color;
      }
    }
  }

  // .contacts__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: toRem(17);
  }
}

.item {
  // .item__image
  &__image {
    flex: 0 1 toRem(63);
    width: toRem(63);
    height: toRem(63);
    @extend %image-size;

    @media (max-width: toEm(1007.98)) {
      flex: 0 1 toRem(43);
      width: toRem(43);
      height: toRem(43);
    }
  }

  // .item__text
  &__text {
    > div {
      margin-bottom: toRem(3);
    }

    @media (max-width: toEm(654.98)) {
      .menu-open & {
        display: none;
      }
    }
  }
}

.mainhead {
  background-color: $bg-gray;
  min-height: toRem(78);

  @media (max-width: toEm(1007.98)) {
    min-height: toRem(48);
  }
  // .mainhead__container
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    //flex-wrap: wrap;
    column-gap: toRem(25);

    @media (max-width: toEm(1007.98)) {
      align-items: center;
      column-gap: toRem(10);
    }
  }

  // .mainhead__menu
  &__menu {
  }

  // .mainhead__side-info
  &__side-info {
    @extend %dis-flex-between;
    column-gap: toRem(50);

    @media (max-width: toEm(1007.98)) {
      column-gap: toRem(15);
    }
  }
}

.menu {
  // .menu__nav
  &__nav {
    padding-top: toRem(30);

    @media (max-width: toEm(1007.98)) {
      padding: 0;
    }
  }

  // .menu__submenu
  &__submenu {
    position: absolute;
    top: $full-percentage;
    left: 0;
    padding-top: toRem(9);
    visibility: hidden;
    opacity: 0;
    transition: $main-transition;
    transform: translate(0, toRem(10));
    pointer-events: none;
  }
}

.nav {
  @media (max-width: $tablet-breakpoint) {
    position: fixed;
    width: $full-percentage;
    height: $full-percentage;
    bottom: 100%;
    left: 0;
    transition: bottom 0.3s;
    background: rgba(9, 18, 66, 0.85);
    padding: toRem(190) toRem(15) toRem(10) 50%;
    overflow: auto;
    z-index: 49;

    &::before {
      content: '';
      position: fixed;
      width: $full-percentage;
      height: toRem(50);
      top: 0;
      left: $full-percentage;
      transition: left 0.3s;
      z-index: 49;
    }

    .menu-open &,
    .menu-open &::before {
      bottom: 0;
    }
  }

  // .nav__list
  &__list {
    display: flex;
    column-gap: toRem(60);
    z-index: 49;

    @media (max-width: toEm(1007.98)) {
      column-gap: toRem(35);
    }

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
      row-gap: toRem(20);
      text-align: right;
    }
  }

  // .nav__item
  &__item {
    position: relative;
    color: $white-color;
    font-family: $basic-font;
    font-size: toRem(16);
    font-weight: 600;
    line-height: 1.3;
    transition: all 0.3s;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: -119%;
      left: 9%;
      flex: 0 1 toRem(43);
      width: toRem(43);
      height: toRem(2);
      border: 1px solid $white-color;
      opacity: 0;
      transition: all 0.3s;
    }

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 51%;
      left: 147%;
      flex: 0 1 toRem(19);
      width: toRem(19);
      height: toRem(0.5);
      transform: rotate(90deg);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    @media (max-width: toEm(1007.98)) {
      &:after {
        left: 100%;
      }
    }

    @media (max-width: $tablet-breakpoint) {
      font-size: toRem(22);
    }

    //@media(any-hover: none) {
    //  &:active::after {
    //    content: '';
    //    display: inline-block;
    //    position: absolute;
    //    top: 51%;
    //    left: 147%;
    //    flex: 0 1 toRem(4);
    //    width: toRem(4);
    //    height: toRem(4);
    //    border-radius: 50%;
    //    background-color: $white-color;
    //    transition: none;
    //  }
    //}

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
        color: $white-color;
      }

      &:hover::before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: -119%;
        left: 9%;
        flex: 0 1 toRem(43);
        width: toRem(43);
        height: toRem(2);
        border: 1px solid $white-color;
        opacity: 1;
        transition: all 0.3s;
      }
    }
    // .nav__item--arrow
    &--arrow {
    }
  }

  // .nav__link
  &__link {
  }
}

.submenu {

  // .submenu__list
  &__list {
  }

  // .submenu__item
  &__item {
  }

  // .submenu__link
  &__link {
  }
}

.side-info {
  // .side-info__social
  &__social {
    @extend %dis-flex-between;
    column-gap: toRem(22);
  }

  // .side-info__link
  &__link {
    display: inline-block;
    padding: toEm(28) toEm(52);
    background-color: $white-color;
    color: $black-color;
    font-family: $basic-font;
    font-size: toRem(16);
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
    transition: color 0.4s;
    z-index: 50;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(9, 18, 66, 0.66);
        color: $white-color;
      }
    }

    @media (max-width: toEm(1007.98)) {
      padding: toEm(20) toEm(37);
    }

    @media (max-width: $tablet-breakpoint) {
      padding: toEm(15) toEm(42);
      position: absolute;
      top: toEm(8);
      right: toEm(90);
    }

    @media (max-width: $M-mob-bp) {
      display: none;
      //.menu-open & {
      //  //position: relative;
      //  //display: block;
      //  //bottom: toEm(50);
      //  //left: toEm(30);
      //}
    }
  }

  // .side-info__button
  &__button {
    padding: toRem(21) toRem(19);
    background: $white-color;

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }

    @media (max-width: $tablet-breakpoint) {
      z-index: 50;
      padding: toRem(16) toRem(19);
      position: absolute;
      top: toEm(8);
      right: toEm(10);

      .menu-open & {
        background-color: $white-color;
        position: absolute;
        top: toEm(8);
        right: toEm(10);
        z-index: 51;
      }
    }

    @media (max-width: $M-mob-bp) {
      padding: toRem(12);
    }
  }

  // .side-info__icon-menu
  &__icon-menu {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: block;
      width: toRem(30);
      height: toRem(18);
      flex: 0 0 toRem(30);
      position: relative;
      z-index: 10;

      &::before,
      &::after,
      span {
        content: '';
        height: toRem(2);
        width: $full-percentage;
        position: absolute;
        left: 0;
        background-color: $blue-color;
        transition: $main-transition;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        margin-top: toRem(-1);
      }

      .menu-open &::before,
      .menu-open &::after {
        top: 50%;
        margin-top: toRem(-1);
      }

      .menu-open & span {
        transform: scale(0);
      }

      .menu-open &::before {
        transform: rotate(-45deg);
      }

      .menu-open &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.social {
  // .social__item
  &__item {
    display: inherit;
    flex-shrink: 0;
    transition: all 0.4s;

    img {
      @extend %image-size;
      width: toRem(19);
      height: toRem(19);
      flex: 0 1 toRem(19);
    }
  }
}


//-------------------------------MAIN.PAGE--------------------------------
//------------------------------------------------------------------------
.page {
  padding: toRem(140) 0;
  // .page__hero
  &__hero {
  }
}

.hero {
  position: relative;
  z-index: 5;
  min-height: #{calc(100dvh - toRem(177))};

  // .hero__container
  &__container {
    max-width: toRem(2900);
  }

  // .hero__background
  &__background {
    padding-top: toRem(132);
    //aspect-ratio: 1995 / 995;
  }
}

.bg {
  // .bg__image
  &__image {
    background-color: $blue-color;
    object-position: center;
    object-fit: cover;
    @extend %photo-absolute;
    @extend %image-size;
  }
}


//-------------------------------FOOTER-----------------------------------
//------------------------------------------------------------------------
//.footer {
//  height: toRem(100);
//}
