/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Загальні стилі */
body {
    font-family: Causten, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

[class*="__container"] {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*------------Header-----------------------------*/
.header {
    position: fixed;
    width: 100%;
    height: 111px;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(253, 252, 252, 0.89);
    outline: 1px solid #d0cece;
    padding: 34px 0 31px;
}

.header__container {
    margin-bottom: 80px;
    display: flex;
    column-gap: 60px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    column-gap: 20px;
    align-items: center;
}

.header__logo {
    display: inline-block;
}

.header__search {
    flex: 0 1 184px;
    height: 100%;
    border-radius: 8px;
    background: #f3f3f3;
    padding: 12px 48px;
}

.logo__item {
    width: 91px;
    height: 45px;
}

.logo__item img {
    width: 100%;
    height: 100%;
}

.search__item {
    display: flex;
    gap: 12px;
    color: #807D7E;
    font-weight: 500;
    width: 100%;
}

.search__item::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icons/search.svg") 0 50% no-repeat;
}

/*------------------ language---------------------- */
.header__menu {
    position: relative;
    transition: all 0.3s ease;
}

.menu-language__list {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 15px 5px 5px 5px;
    width: 233px;
    visibility: hidden;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f5f5f5;
    transition: all 0.4s ease;
    opacity: 0;
}

.menu-language__link {
    color: #333;
}

.menu-language__default--after {
    display: flex;
    align-items: center;
    gap: 19px;
}

.menu-language__default--after::after {
    content: '';
    /*display: inline-block;*/
    width: 10px;
    height: 5px;
    background: url("../img/icons/down-arrow.svg") 0 50% no-repeat;
}

.header__menu:hover .menu-language__list {
    visibility: visible;
    transition: all 0.4s ease;
    opacity: 1;
}

.menu-language__item:not(:last-child) {
    margin-bottom: 12px;
}

.menu-language__item:hover {
    text-decoration: underline;
}

/*------------------ form----------------------- */
.header__form {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    flex-wrap: nowrap;
    text-transform: capitalize;
}

.form__button-link {
    transition: all 0.4s ease;
    padding: 12px 48px;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    color: #8A33FD;
}

.form__button-link--color {
    border-radius: 8px;
    background: #8A33FD;
    color: #FFF;
}

.form__button-link--border {
    border: 1px solid #3C4242;
}

.form__button-link--color:hover,
.form__button-link:hover {
    color: #FFF;
    transition: all 0.4s ease;
    background: #6324b6;
}

/* ------------------------Categories for man--------------------- */
.page {
    padding-top: 170px;
    flex-grow: 1;
}

.page__categories {
    margin-bottom: 90px;
}

.categories__title:not(:last-child) {
    margin-bottom: 70px;
}

.categories__title h1 {
    display: flex;
    gap: 20px;
    color: #3C4242;
    font-family: 'Core Sans C', sans-serif;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.68px;
}

.categories__title h1::before {
    content: '';
    flex: 0 0 6px;
    /*display: inline-block;*/
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: #8A33FD;
    margin-right: 14px;
}

.categories__column {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.column__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    gap: 15px;
}

.item__link-product {
    display: inline-block;
    max-height: 394px;
}

.item__link-product:hover {
    outline: 1px solid #d2d1d1;
    border-radius: 10px;
}

.item__image {
    width: 270px;
    height: 393px;
    border-radius: 10px;
}

.item__image img {
    height: 100%;
    width: 100%;
}

.item__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.product__title-link {
    display: inline-block;
    color: #2A2F2F;
    font-family: Causten, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.715px;
    text-transform: capitalize;
}

.product__title-link:hover {
    text-decoration: underline 1px;
}

.product__info p {
    color: #7F7F7F;
    font-family: Causten, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: -0.536px;
    text-transform: capitalize;
}

.product__side-link {
    display: flex;
    align-items: flex-start;
}

.product__side-link::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url("../img/icons/side-arrow.svg") 100% 50%/100% no-repeat;
    transition: scale3d 0.5s ease;

}

.product__side-link:hover::after {
    transition: all 0.5s ease;
    transform: scale(0.8);
}

/*-------------------Wishlist--------------------- */

.page__wishlist {
    margin-bottom: 110px;
}

.wishlist__container {
    max-width: 933px;
}

.wishlist__title {
    color: #3C4242;
    font-family: 'Core Sans C', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.56px;
    margin-bottom: 52px;
}

.wishlist__item {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    gap: 36px;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #edeef2;
}

.card__cancel {
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}

.card__cancel::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/icons/close-cross.svg") 0 50%/100% no-repeat;
}

.card__product-link {
    display: inline-block;
}

.card__product-link:hover {
    outline: 1px solid #d3d3d3;
    border-radius: 4px;
}

.card__image-product {
    width: 110px;
    height: 110px;
    border-radius: 4px;
}

.card__image-product img {
    width: 100%;
    height: 100%;
}

.card__about-product {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px;
    font-size: 22px;
    letter-spacing: 0.44px;
}

.products__link {
    color: #3C4242;
    font-family: Causten, sans-serif;
    display: inline-block;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.44px;
    font-weight: 700;
    transition: all 1.5s ease;
}

.products__link:hover {
    text-decoration: underline;
}

.products__link::after {
    transition: all 1.5s ease;
}

.products p {
    color: #3C4242;
    font-weight: 700;
}

.products span {
    color: #807D7E;
    font-weight: 500;
}

.card__price {
    color: #807D7E;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.44px;
}

.card__add-link {
    display: inline-block;
    flex-shrink: 0;
    padding: 14px 28px;
    border-radius: 8px;
    background: #8A33FD;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    transition: all 0.3s ease;
}

.card__add-link:hover {
    transition: all 0.3s ease;
    background: #5f1db7;
}

/*----------------Orders-------------------------*/
.page__orders {
    margin-bottom: 50px;
}

.orders__container {
    max-width: 925px;
}


.list__item {
    padding-bottom: 30px;
    border-bottom: 1px solid #edeef2;
}

.list__item:not(:last-child) {
    margin-bottom: 30px;
}

.order-product {
    border-radius: 8px;
    background: #F6F6F6;
    padding: 28px 47px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.order-product__title-link {
    display: inline-block;
    font-family: Causten, sans-serif;
    line-height: 1.2;
    color: #3C4242;
    font-size: 20px;
    font-weight: 600;
}

.order-product__title-link:hover {
    text-decoration: underline;
}

.order-product__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.info__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
}

.info__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
}

.info__date p,
.info__status p {
    color: #807D7E;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.info__date span,
.info__status span {
    color: #BEBCBD;
    font-size: 14px;
    text-transform: capitalize;
}

.about-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.about-product__item {
    display: inline-block;
}

.about-product__item:hover {
    outline: 1px solid #a6a3a9;
    border-radius: 4px;
}

.about-product__info {
    flex-grow: 1;
}

.about-product__image {
    width: 96px;
    height: 96px;
    border-radius: 4px;
}

.about-product__image img {
    width: 100%;
    height: 100%;
}

.about-product__title-link {
    margin-bottom: 10px;
    display: inline-block;
    font-family: Causten, sans-serif;
    line-height: 1.2;
    color: #3C4242;
    font-size: 16px;
    font-weight: 600;
}

.about-product__title-link:hover {
    text-decoration: underline 1px;
}

.about-product__info p {
    margin-bottom: 3px;
    color: #3C4242;
    font-size: 14px;
    font-weight: 600;
}

.about-product__info > p > span {
    color: #BEBCBD;
    font-size: 14px;
    font-weight: 600;
}

.about-product__info span {
    color: #807D7E;
    font-size: 14px;
    font-weight: 600;
}

.about-product__link {
    flex-shrink: 0;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 8px;
    background: #8A33FD;
    padding: 14px 28px;
    color: #FFF;
    font-family: Causten, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.about-product__link:hover {
    transition: all 0.3s ease;
    background: #6324b6;
}

/* ------------------Footer----------------------- */

.footer__title {
    text-align: center;
    color: #858484;
    font-weight: 700;
    line-height: 1.5;
}





