[class*=" _icon-"]::before {
  display: inline-block;
  font-family: 'icons', monospace;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-browsing:before {
  content: "\e900";
}
._icon-delivery:before {
  content: "\e901";
}
._icon-empty-wallet-tick:before {
  content: "\e902";
}
._icon-logo:before {
  content: "\e903";
}
._icon-logo-apple:before {
  content: "\e904";
}
._icon-logo-butterfly:before {
  content: "\e905";
}
._icon-play:before {
  content: "\e906";
}
._icon-s-facebook:before {
  content: "\e907";
}
._icon-s-instagram:before {
  content: "\e908";
}
._icon-s-twitter:before {
  content: "\e909";
}
