@import "_functions.scss"; // Functions

//-------------Variables-------------------
//---------------FONTS---------------------
$basic-font: 'Poppins', sans-serif; //font
$secondary-font: 'Cal Sans', sans-serif; //font

//---------------COLORS--------------------
$black-color: rgb(18, 18, 18); // black color
$white-color: rgb(255, 255, 255); // white color
$orange-color: rgb(255, 100, 40); // orange color
$orange-hover-color: rgb(245, 67, 0); // orange hover color
$gray-color: rgb(134, 134, 134); // gray color
$gray-second-color: rgb(102, 102, 102); // gray second color

//----------------SIZE---------------------
$basic-lh: 1.2; //line height
$basic-fz: toRem(16); //basic font size


//----------------OTHER--------------------
$main-transition: all 0.4s ease;

//---------------BREAKPOINTS---------------
$tablet-breakpoint: toEm(980.98); // Tablet breakpoint
$L-mob-bp: toEm(767.98); // Large mobile breakpoint
//$second-mobile-breakpoint: toEm(502.98);
$M-mob-bp: toEm(510.98); // Medium mobile breakpoint
$S-mob-bp: toEm(320.98); // Small mobile breakpoint

//-------------------MIXINS-------------------------------------
//---------------------------------------------------------------
$minWidth: 320;
// Min page width
$maxWidth: 1440;
// Site width
$maxWidthContainer: 1200;
// Container width (0 = no restrictions)
$containerPadding: 30;
// Common container spacing
// (30 = 15x left|right, 0 = no spacing)
$containerWidth: $maxWidthContainer + $containerPadding;

@mixin adaptiveValue($property, $startSize, $minSize, $keepSize: 0, $widthFrom: $containerWidth, $widthTo: $minWidth) {
  @if ($startSize==0) {
    $startSize: 0.000001;
  }
  @if ($minSize==0) {
    $minSize: 0.000001;
  }
}

//----------------------------------------------------------------
//--------------------------Templates-----------------------------
%photo-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%image-size {
  img {
    width: 100%;
    height: 100%;
  }
}

%dis-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

%dis-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: toRem(35);
  row-gap: toRem(20);
}

%orange-hover {
  @media (any-hover: hover) {
    &:hover {
      color: $orange-hover-color;
    }
  }
}

%card-hover {
  @media (any-hover: hover) {
    &:hover {
      .card__title {
        color: $orange-hover-color;
        letter-spacing: toEm(0.5);
      }

      .card__price {
        color: $orange-hover-color;
      }

      .card__image {
        &:hover {
          transform: scale(1.03);
          opacity: 1;
        }
      }
    }
  }
}


