@use "sass:math";

$minWidth: 320;
// Min page width
$maxWidth: 1440;
// Site width
$maxWidthContainer: 1200;
// Container width (0 = no restrictions)
$containerPadding: 30;
// Common container spacing
// (30 = 15x left|right, 0 = no spacing)
$containerWidth: $maxWidthContainer + $containerPadding;

@import "_functions.scss";
// Functions
@import "_reset.scss";
// Reset
@import "_fonts.scss";
// Fonts
@import "_icons.scss";
// Icons
@import "_vars&&templates.scss"; // Variables and templates

//-----------------------------BODY.WRAPPER------------------------
//-----------------------------------------------------------------

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex-grow: 1;
  }
}

body {
  font-family: $basic-font;
  font-size: $basic-fz;
  line-height: $basic-lh;

  .menu-open & {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: toRem(1230);
  margin: 0 auto;
  padding: 0 toRem(15);
}

//-----------------------------HEADER------------------------------
//-----------------------------------------------------------------

.header {
  width: 100%;
  // .header--position
  &--position {
    ////position: fixed;
    //top: 0;
    //left: 0;
    //z-index: 50;
  }

  // .header__container
  &__container {
    min-height: toRem(152);
    align-items: center;
    column-gap: toRem(130);
    row-gap: toRem(30);
    padding: toRem(15);
    display: flex;

    @media (max-width: toEm(1040.98)) {
      min-height: toRem(90);
    }
  }

  // .header__logo
  &__logo {
    display: inline-block;
    width: toRem(123);
    height: toRem(29);
  }

  // .header__menu
  &__menu {
  }
}

.logo {
  // .logo__image
  &__image {
    @extend %image-size;
  }
}

.menu {
  // .menu__nav
  &__nav {
  }
}

.nav {
  // .nav__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: toRem(50);
  }

  // .nav__item
  &__item {
    color: rgba(18, 18, 18, 0.4);
    font-weight: 500;
    line-height: 1.5;
    transition: all 0.2s ease;

    text-decoration: none;
    border: none;
    background: none;


    &::before {
      margin-left: auto;
    }

    &::after, &::before {
      content: '';
      width: 0;
      height: toRem(2);
      background: $orange-hover-color;
      display: block;
      transition: 0.3s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $orange-hover-color;
      }

      &:hover::after, &:hover::before {
        width: 100%;
      }
    }
  }

  // .nav__link
  &__link {
    display: inline-block;
  }
}

//------------------------MAIN. PAGE-------------------------------
//-----------------------------------------------------------------

.page {
  // .page__hero
  &__hero {
    &:not(:last-child) {
      margin-bottom: toRem(132);
    }
  }

  // .page__store
  &__store {
    &:not(:last-child) {
      margin-bottom: toRem(175);
    }
  }

  // .page__categories
  &__categories {
    &:not(:last-child) {
      margin-bottom: toRem(218);
    }
  }

}

.hero {
  // .hero__container
  &__container {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
  }

  // .hero__image
  &__image {
    flex: 1 1 50%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 55%;
    width: toRem(672);
    height: toRem(586);
    //aspect-ratio: 672 / 586;

    @media (max-width: toEm(1040.98)) {
      position: static;
    }

    > img {
      //position: absolute;
      //top: 0;
      //left: 0;
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: contain;
      @extend %image-size;
    }
  }

  // .hero__content
  &__content {
    flex: 1 1 50%;
    padding-top: toRem(80);
    max-width: toRem(470);
  }
}

.image {
}

.content {
  > p {
    max-width: toRem(390);
    color: $gray-second-color;
    font-weight: 500;
    line-height: 1.5;

    &:not(:last-of-type) {
      margin-bottom: toRem(15);
    }

    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }

  // .content__title
  &__title {
    color: $black-color;
    font-family: $secondary-font;
    font-size: toRem(56);
    font-weight: 600;
    line-height: 1.1;

    > span {
      color: $orange-color;
    }

    &:not(:last-of-type) {
      margin-bottom: toRem(25);
    }

    &:not(:last-child) {
      margin-bottom: toRem(32);
    }

    //@media (max-width: toEm(875.99)) {
    //  text-shadow: toRem(1) toRem(1) #a2a0a0;
    //}
  }

  // .content__active
  &__active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: toRem(40);
  }
}

.active {
  // .active__link
  &__link {
    flex-shrink: 0;
    display: inline-block;
    border-radius: toRem(40);
    background: $orange-color;
    text-align: center;
    padding: toRem(18) toRem(48);
    color: $white-color;
    font-weight: 600;
    line-height: 1.1;
    border: toRem(2) solid transparent;
    transition: all 0.2s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background: $orange-hover-color;
        border: toRem(2) solid white;
      }
    }
  }

  // .active__social
  &__social {
    > a {
      &:not(:last-of-type) {
        margin-right: toRem(28);
      }
    }
  }
}

.link {
}

.social {
  color: rgb(178, 178, 178);
  font-size: toRem(30);
  transition: color 0.3s;

  @media (any-hover: hover) {
    &:hover {
      color: $orange-hover-color;
    }
  }
}

._icon-play {
}

._icon-logo-apple {
}

//-----------------------------STORE-----------------------------
//---------------------------------------------------------------

.store {
  // .store__container
  &__container {
  }

  // .store__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(104);
    }

  }

  // .store__category-new
  &__category-new {

  }

  // .store__category-top
  &__category-top {
  }
}

.title {
  text-align: center;
  font-family: $secondary-font;
  font-size: toRem(44);
  font-weight: 600;
  line-height: 1;

  > span {
    color: $orange-color;
  }
}

.category {
  &:not(:last-child) {
    margin-bottom: toRem(105);
  }

  // .category__subtitle
  &__subtitle {
  }

  // .category__list
  &__list {
    @extend %dis-grid;
  }
}

.subtitle {
  display: flex;
  justify-content: space-between;
  column-gap: toRem(30);
  row-gap: toRem(18);
  align-items: flex-start;
  line-height: 1.5;
  font-size: toRem(20);
  // .subtitle__about
  &__about {
    color: $black-color;
    font-weight: 600;
    letter-spacing: percentToEm(8);
    text-transform: uppercase;
  }

  // .subtitle__view
  &__view {
    flex-shrink: 0;
    display: inline-block;
    color: $gray-color;
    font-weight: 500;
    text-transform: lowercase;
    transition: color 0.3s ease;
    @extend %orange-hover;
  }
}

.list {
  // .list__card
  &__card {
    transition: all 0.2s ease;
    @extend %card-hover;
  }
}

.card {

  // .card__preview
  &__preview {
    display: inline-block;
  }

  // .card__image-wrapper
  &__image-wrapper {
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }

  // .card__image
  &__image {
    object-fit: contain;
    object-position: center;
    width: 100%;
    aspect-ratio: 364 / 190;
    opacity: 0.9;
    transition: all 0.3s ease;
    transform: scale(1.003);
    @extend %image-size;
  }

  // .card__title
  &__title {
    color: $black-color;
    font-weight: 500;
    line-height: 1.5;
    text-transform: capitalize;
    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-bottom: toRem(11);
    }
  }

  // .card__price
  &__price {
    color: $gray-second-color;
    font-size: toRem(14);
    line-height: 1.5;
  }
}

//-----------------------CATEGORIES-----------------
//--------------------------------------------------
.categories {
  // .categories__container
  &__container {
  }

  // .categories__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(80);
    }
  }

  // .categories__list
  &__list {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(toRem(220), 1fr));
    grid-template-columns: repeat(auto-fill, toRem(220));
    justify-content: space-around;
    align-items: center;
    column-gap: toRem(27);
    row-gap: toRem(20);
  }
}

.title {
}

.list {
  // .list__category-card
  &__category-card {
    position: relative;
    z-index: 2;
  }
}

.category-card {

  // .category-card__wrapper-image
  &__wrapper-image {
    border-radius: toRem(20);
    overflow: hidden;
    aspect-ratio: 220 / 280;
    width: toRem(220);
    height: toRem(280);
  }

  // .category-card__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    @extend %photo-absolute;
    z-index: -1;

  }

  // .category-card__title
  &__title {
    transform: translateY(-50%);
    position: relative;
    bottom: toRem(35);
    color: $white-color;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }
}

//-------------------------FOOTER--------------------------
//---------------------------------------------------------

.footer {
  font-size: toRem(40);
  padding-top: toRem(250);
}