// Reset styles
@import "_reset.scss";

// Manual fonts
@import "_fonts.scss";

//-------------Variables--------------
// Main variables
$main-font: 'Cormorant Infant', serif; //font
$main-font-size: 18px; //font size
$black-color: #000; // black color
$main-line-height: 1.2; //line height
$full-percentage: 100%;
$main-transition: all 0.4s ease;

// Breakpoint variables
$tablet-breakpoint: 960.98px;
$mobile-breakpoint: 730.98px;
$small-mobile-breakpoint: 440.98px;
$old-small-mobile-breakpoint: 320.98px;


body {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;

  .menu-open & {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: clip;
  min-height: $full-percentage;
  display: flex;
  flex-direction: column;

  & > main {
    flex-grow: 1;
  }
}

//-----------Header-----------
// block header
.header {
  font-family: Merriweather, serif;
  font-weight: 700;
  background: #FEFBF7;
  width: $full-percentage;

  // .header--position
  &--position {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }

  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 100px;

    @media (max-width: $tablet-breakpoint) {
      min-height: 50px;
    }

    @media (max-width: $small-mobile-breakpoint) {
      gap: 10px;
    }

    @media (max-width: $old-small-mobile-breakpoint) {
      gap: 5px;
    }
  }

  // .header__logo
  &__logo {
    color: $black-color;
    font-size: 30px;
    font-style: italic;
    text-transform: capitalize;
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 25px;
    }

    @media (max-width: $old-small-mobile-breakpoint) {
      font-size: 22px;
    }
  }

  // .header__menu
  &__menu {
  }

  // .header__action
  &__action {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 20px;
    position: relative;
    z-index: 10;

    @media (max-width: $small-mobile-breakpoint) {
      column-gap: 10px;
    }
  }

  // .header__icon-menu
  &__icon-menu {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: block;
      width: 30px;
      height: 18px;
      flex: 0 0 30px;
      position: relative;
      z-index: 5;

      &::before,
      &::after,
      span {
        content: '';
        height: 2px;
        width: $full-percentage;
        position: absolute;
        left: 0;
        background-color: $black-color;
        transition: $main-transition;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        margin-top: -1px;
      }

      .menu-open &::before,
      .menu-open &::after {
        top: 50%;
        margin-top: -1px;
      }

      .menu-open & span {
        transform: scale(0);
      }

      .menu-open &::before {
        transform: rotate(-45deg);
      }

      .menu-open &::after {
        transform: rotate(45deg);
      }
    }
  }
}

// block menu 
.menu {
  @media (max-width: $tablet-breakpoint) {
    // .menu__body
    &__body {
      position: fixed;
      width: $full-percentage;
      height: $full-percentage;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      background-color: #e7ddd2;
      padding: 70px 15px 30px 15px;
      overflow: auto;

      &::before {
        content: '';
        position: fixed;
        width: $full-percentage;
        height: 50px;
        top: 0;
        left: $full-percentage;
        transition: left 0.3s;
        z-index: 2;
        background-color: #e7ddd2;
      }

      .menu-open &,
      .menu-open &::before {
        left: 0;
      }
    }
  }

  // .menu__list
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 10px;

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
      text-align: right;
      row-gap: 28px;
    }
  }

  // .menu__submenu
  &__submenu {
    position: absolute;
    top: $full-percentage;
    left: 0;
    padding-top: 47px;
    visibility: hidden;
    opacity: 0;
    transition: $main-transition;
    transform: translate(0px, 10px);
    pointer-events: none;

    @media (max-width: $tablet-breakpoint) {
      position: relative;
      visibility: visible;
      opacity: 1;
      padding-top: 10px;
      transform: translate(0, 0);
      pointer-events: auto;

      @media (any-hover: hover) {
        .list__item--arrow:hover & {
          transform: translate(0, 0);
        }

      }
    }
  }
}

// block list
.list {
  // .list__item
  &__item {
    @media (any-hover: hover) {
      &:hover {
        .list__link {
          color: #D58417;
          text-decoration: underline;
        }
      }
    }

    @media (max-width: $tablet-breakpoint) {
      text-align: right;
    }

    // .list__item--active
    &--active {
      color: #D58417;
      text-decoration: underline;
    }

    // .list__item--arrow
    &--arrow {
      position: relative;

      // @media any-hover for list__item--arrow
      @media (any-hover: hover) {
        &:hover {
          .menu__submenu {
            opacity: 1;
            transform: translate(0px, -10px);
            visibility: visible;
            pointer-events: all;
          }
        }
      }
    }
  }

  // .list__link
  &__link {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 4px;

    @media (max-width: $tablet-breakpoint) {
      display: block;
    }

    @media (any-hover: hover) {
      .list__item--arrow:hover & {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }

    &::after {
      content: '';
      flex: 0 0 16px;
      width: 16px;
      height: 8px;
      background: url("../img/icons/header-menu-arrow.png") 0 50%/ 100% no-repeat;
      transition: transform 0.4s ease;

      @media (max-width: $tablet-breakpoint) {
        display: none;
      }
    }
  }
}

// block submenu
.submenu {
  // .submenu__list
  &__list {
    width: 200px;
    border-radius: 7px;
    padding: 15px;
    background-color: rgba(246, 238, 228, 0.85);
    @media (max-width: $tablet-breakpoint) {
      width: 100%;
      border-radius: 4px;
    }
  }

  // .submenu__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;

      @media (max-width: $tablet-breakpoint) {
        margin-bottom: 20px;
      }
    }
  }

  // .submenu__link
  &__link {
    font-size: 16px;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: $tablet-breakpoint) {
      color: #181818;
      font-size: 22px;
    }
  }
}

// block action
.action {
  // .action__item
  &__item {
    flex: 0 0 32px;
    width: 32px;
    position: relative;
    transition: transform 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }

    img {
      max-width: $full-percentage;
      height: $full-percentage;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      background-color: #FF3333;
      min-width: 12px;
      height: 12px;
      color: #FFF;
      font-size: 9px;
      text-align: center;
      line-height: 1.3;
    }
  }
}

//-----------------Main. Page---------------------
// block page
.page {
  padding: 150px 0;

  @media (max-width: $tablet-breakpoint) {
    padding: 80px 0 50px 0;
  }

  @media (max-width: $small-mobile-breakpoint) {
    padding: 65px 0 20px 0;
  }
  // .page__products
  &__products {
  }
}

.products {
  // .products__container
  &__container {
  }

  // .products__about
  &__about {
  }

  // .products__content
  &__content {
  }
}

.about {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 128px;
  }

  @media (max-width: $tablet-breakpoint) {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  @media (max-width: 550.96px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: $old-small-mobile-breakpoint) {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  // .about__title
  &__title {
    color: #0E333D;
    font-family: 'DM Serif Text', serif;
    font-size: 48px;

    &:not(:last-child) {
      margin-bottom: 29px;
    }

    @media (max-width: $tablet-breakpoint) {
      font-size: 38px;

      &:not(:last-child) {
        margin-bottom: 19px;
      }
    }

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 32px;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 26px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  // .about__subtitle
  &__subtitle {
    color: #8C8B8A;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 500;

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 16px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 775px;
  grid-auto-flow: dense;
  gap: 29px;

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media (max-width: 480.95px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 6px;
  }

  // .content__item
  &__item {

  }
}

.item {
  // .item--big
  &--big {
    grid-row: span 2;

    & .item__image {
      height: 100%;
      aspect-ratio: 398 / 728;

      @media (max-width: $small-mobile-breakpoint) {
        object-position: top;
        //aspect-ratio: 2 / 3;
      }
    }
  }

  // .item__image
  &__image {
    overflow: hidden;
    width: $full-percentage;
    border-radius: 5px;
    background-color: #e0d1bd;
    aspect-ratio: 369 / 277;
    object-fit: cover;
    object-position: left;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    img {
      width: $full-percentage;
      height: $full-percentage;
    }

    @media (max-width: $mobile-breakpoint) {
      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }
  }

  // .item__description
  &__description {
    max-width: 369px;
    word-wrap: break-word;
  }
}

.description {
  display: block;
  color: $black-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;

  // .description__title, .description__price
  &__title,
  &__price {
    @media (any-hover: hover) {
      &:hover {
        letter-spacing: 1.1px;
        color: #D58417;
      }
    }

    @media (max-width: $mobile-breakpoint) {
      font-size: 20px;
    }

    @media (max-width: 480.95px) {
      text-align: center;
    }
  }

  // .description__title
  &__title {
    transition: $main-transition;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    @media (max-width: $mobile-breakpoint) {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  //.description__price
  &__price {
    transition: $main-transition;
  }
}

// block footer
.footer {
  padding: 20px;
  text-align: center;
  min-height: 40px;
  border-top: 1px solid rgba(79, 78, 78, 0.29);
  background: rgba(254, 251, 247, 0.93);

  // .footer__title
  &__title {
    color: $black-color;
  }
}














