/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Загальні стилі */
body {
    font-family: 'Core Sans C', sans-serif;
    line-height: 1.2;
    font-size: 18px;
}

.menu-open body {
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

/*-------------Header-----------------*/
.header,
.footer {
    padding: 20px;
    background: #dc7e04;
    color: #FFF;
}

/*-----------------Page. Hero-------------------*/
.page {
    padding: 80px 0 80px 0;
}

.page__hero:not(:last-child) {
    margin-bottom: 70px;
}

.hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.content__item {
    position: relative;
    padding: 57px 30px 55px 30px;
}

.item__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item__image img {
    width: 100%;
    height: 100%;
}

.item__info {
    text-shadow: 1px 1px 2px rgb(51, 50, 50);
}

.info--left {
    max-width: 236px;
    position: relative;
    color: #FFF;
}

.info--right {
    max-width: 266px;
    position: relative;
    color: #FFF;
}

.info__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 0.251px;
}

.info__subtitle:not(:last-child) {
    margin-bottom: 35px;
}

.info__subtitle--right:not(:last-child) {
    margin-bottom: 24px;
}

.info__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: capitalize;
}

.info__title:not(:last-child) {
    margin-bottom: 10px;
}

.info__sale {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.251px;
    text-transform: capitalize;
}

.info__sale:not(:last-child) {
    margin-bottom: 42px;
}

.info__sale:not(:last-child) {
    margin-bottom: 30px;
}

.info__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
    position: relative;
    transition: all 0.3s;
}

.info__link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f6f3f3;
    transition: all 0.3s;
    /*transition: top 0.2s, opacity 0.2s 0.2s;*/
}

@media (any-hover: hover) {
    .info__link:hover::after {
        top: 50%;
        opacity: 0;
    }

    .info__link--yellow:hover {
        /*text-shadow: #e09a03 6px 0 6px;*/
        text-shadow: 1px 1px 2px #fd6c05, 0 0 1em #d09526, 0 0 0.2em #c79924;

    }

    .info__link--purple:hover {
        /*text-shadow: #8319c9 6px 0 6px;*/
        text-shadow: 1px 1px 2px #d205f1, 0 0 1em #5206a4, 0 0 0.2em #6c15d5;
    }
}

@media (max-width: 1084px) {
    .page {
        padding: 50px 0 50px 0;
    }

    .page__hero:not(:last-child) {
        margin-bottom: 40px;
    }

    .hero__content {
        gap: 20px;
    }

}

@media (max-width: 759px) {
    .content__item:nth-child(1n + 1) {
        /*grid-column-start: 1;*/
        /*grid-column-end: 2;*/
        grid-column: span 2;
    }

    .item__image {
        object-position: top;
    }

}

@media (max-width: 480.98px) {
    /* 392.98px */
    .page {
        padding: 40px 0 40px 0;
    }

    .page__hero:not(:last-child) {
        margin-bottom: 25px; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    }

    .content__item {
        padding: 20px;
    }

    .item__image {
        object-position: right;
    }

    .item__overlay::before {
        content: '';
        display: inline-block;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.3);
    }

    .item__info {
        text-align: center;
    }

    .info--left,
    .info--right {
        max-width: none;
    }

    .info__link {
        display: block;

    }

    .info__link::after {
        width: 0;
    }

}

/*---------------Page. New arrival-----------*/
.page__new-arrival:not(:last-child) {
    margin-bottom: 50px;
}

.new-arrival__about:not(:last-child) {
    margin-bottom: 70px;
}

.about__title {
    color: #3C4242;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.68px;
    text-transform: capitalize;
    position: relative;
    padding-left: 20px;
}

.about__title::before {
    content: '';
    position: absolute;
    top: 16%;
    left: 0;
    width: 6px;
    height: 70%;
    border-radius: 10px;
    background: #8A33FD;
}

.new-arrival__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    max-width: 1255px;
    grid-auto-columns: 262px;
    gap: 38px;
}

.content {
}

.content__item-new {
}

.content__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 262 / 262;
    border-radius: 12px;

}

.content__image img {
    height: 100%;
    /*aspect-ratio: 262 / 262;*/
}

.content__image:not(:last-child) {
    margin-bottom: 37px;
}

.content__title {
    color: #3C4242;
    font-family: Causten, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

@media (any-hover: hover) {
    .content__item-new:hover .content__title {
        text-decoration: underline;
    }

}

@media (max-width: 1084.99px) {
    .page__new-arrival:not(:last-child) {
        margin-bottom: 40px;
    }

    .new-arrival__about:not(:last-child) {
        margin-bottom: 30px;
    }

    .about__title {
        font-size: 24px;
    }

    .new-arrival__content {
        gap: 18px;
    }

    .content__image:not(:last-child) {
        margin-bottom: 25px;
    }

}

@media (max-width: 769.99px) {
    .content__image:not(:last-child) {
        margin-bottom: 18px;
    }

}

@media (max-width: 519.99px) {
    .new-arrival__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 1255px;
        gap: 20px;
    }

    .content__image:not(:last-child) {
        margin-bottom: 10px;
    }

    .content__title {
        font-size: 18px;
    }

}

@media (max-width: 320.98px) {

}

/*--------------Page. Big saving zone-----------*/
.page__saving {

}

.saving__container {

}

.saving__about:not(:last-child) {
    margin-bottom: 70px;
}

.saving__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    min-height: 240px;
    justify-content: center;
}

.content__sav-item {
    overflow: hidden;
    position: relative;
    grid-column: span 2;
    background-color: rgb(196, 186, 167);
    padding: 30px 15px 40px 20px;
    border-radius: 12px;
    font-family: Causten, sans-serif;
    display: grid;
    justify-content: end;
}

.content__sav-item--big {
    grid-column: span 3;
    padding: 55px 90px 60px 0;
}

.content__sav-item--left {
    justify-content: start;
}

.item-sav--white {
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.73);
}

.item-sav__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*aspect-ratio: 400 / 393;*/
    object-fit: cover;
    object-position: center;
}

.item-sav__image--size {
    aspect-ratio: 610 / 393;
}

.item-sav__image img {
    /*aspect-ratio: 400 / 393;*/
    width: 100%;
    height: 100%;
}

.item-sav__info {
    position: relative;
    z-index: 2;
    max-width: 160px;
}

.item-sav--padding {
    padding: 65px 15px 25px 20px;
}

.item-sav__info--end {
    text-align: end;
}

.info-sav--left {
    display: grid;
    justify-content: start;
}

.info-sav--big {

}


.info-sav__title {
    display: inline-block;
    font-family: 'Core Sans C', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.56px;
    text-transform: capitalize;
}

.info-sav__title--big {
    font-size: 32px;
    letter-spacing: 0.64px;
}

.info-sav__title--width {
    max-width: 104px;
}

.info-sav__title:not(:last-child) {
    margin-bottom: 17px;
}

.info-sav__text {
    font-size: 14px;
    font-weight: 600;
}

.info-sav__text--big {
    font-size: 16px;
}

.info-sav__text:not(:last-child) {
    margin-bottom: 13px;
}

.info-sav__sale {
    font-weight: 700;
    text-transform: uppercase;
}

.info-sav__sale:not(:last-child) {
    margin-bottom: 34px;
}

.info-sav__sale--big {
    font-size: 20px;
}

.info-sav__link {
    display: inline-block;
    padding: 10px 25px; /* якщо вказати падінги з макету - відбувається якийсь треш з посиланням*/
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 4px;
    color: #3C4242;
    border: 1px solid #3C4242;
    transition: all 0.3s;
}

.info-sav__link--bg {
    color: #FFF;
    border: 1px solid #FFF;
}

.info-sav__link--border {
    border: 2px solid #3C4242;
}

.info-sav__link:not(:first-child) {
    margin-top: 48px;
}

.info-sav__link--arrow {
    position: relative;
}

.info-sav__link--arrow::before {
    content: '';
    width: 23px;
    height: 20px;
    position: absolute;
    top: -49px;
    transform: translateX(-50%);
    left: 50%;
    background: url("../img/icons/black-arrow.svg") 10% 100%/100% no-repeat;
}

.info-sav__link--arrow-white::before {
    content: '';
    width: 23px;
    height: 20px;
    position: absolute;
    top: -49px;
    transform: translateX(-50%);
    left: 50%;
    background: url("../img/icons/white-arrow.svg") 10% 100%/100% no-repeat;
}

.info-sav__button {
    display: inline-block;
    border-radius: 4px;
    background: #3C4242;
    padding: 8px 16px;
    text-align: center;
    font-family: Causten, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.3s;
}

.info-sav__button:not(:last-child) {
    margin-bottom: 33px;
}

@media (any-hover: hover) {
    .info-sav__link:hover,
    .info-sav__link--bg:hover {
        color: #FFF;
        border: 1px solid #FFF;
        background-color: rgba(30, 30, 30, 0.56);
    }

    .info-sav__link--border:hover {
        color: #FFF;
        border: 2px solid #FFF;
        background-color: rgba(30, 30, 30, 0.56);
    }

    .info-sav__button:hover {
        color: #FFF;
        background-color: rgba(40, 40, 40, 0.47);
    }

}

@media (max-width: 1162.98px) {
    .saving__about:not(:last-child) {
        margin-bottom: 55px;
    }

    .item-sav--padding {
        padding: 65px 15px 0 20px;
    }

}

@media (max-width: 950.98px) {
    .content__sav-item {
        grid-column: span 3;
    }

    .saving__about:not(:last-child) {
        margin-bottom: 25px;
    }

    .saving__content {
        gap: 15px;
    }

    /*.content__sav-item {*/
    /*    padding: 35px 10px 30px 10px;*/
    /*}*/

    .content__sav-item--big {
        padding: 35px 10px 30px 10px;
        grid-template-columns: auto;
    }

    .item-sav--last {
        grid-column: span 6;
        padding: 35px 150px 30px 0;
    }

    .item-sav__image--last {
        object-position: top;
    }

}

@media (max-width: 645.98px) {
    .content__sav-item {
        grid-column: span 6;
    }

    .item-sav__image {
        object-position: top;
    }

    .content__sav-item {
        padding: 30px;
    }
}

@media (max-width: 480.98px) {
    .content__sav-item {
        padding: 15px;
    }

    .item-sav__overlay::before {
        content: '';
        display: inline-block;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(3, 8, 9, 0.11);
    }

}


/*--------------Footer----------*/
.footer {
}

.footer__title {
}