/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Загальні стилі */
body {
    font-family: 'Core Sans C', sans-serif;
    line-height: 1.2;
    font-size: 18px;

}

.menu-open body {
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;

}

/*-------------Header-----------------*/
.header,
.footer {
    padding: 20px;
    background: #dc7e04;
    color: #FFF;
}

/*-----------------Page. Hero-------------------*/
.page {
    padding: 100px 0 200px 0;
}

.page__hero {
    margin-bottom: 70px;
}

.page__hero:not(:last-child) {
    margin-bottom: 70px;
}

.hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.content__item {
    position: relative;
    padding: 57px 30px 55px 30px;
}

.item__image {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item__image img {
    width: 100%;
    height: 100%;
}

.info--left {
    max-width: 236px;
    position: relative;
    color: #FFF;
}

.info--right {
    max-width: 266px;
    position: relative;
    color: #FFF;
}

.info__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 0.251px;
}

.info__subtitle:not(:last-child) {
    margin-bottom: 35px;
}

.info__subtitle--right:not(:last-child) {
    margin-bottom: 24px;
}

.info__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.3;
}

.info__title:not(:last-child) {
    margin-bottom: 10px;
}

.item__info span {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.251px;
}

.item__info span:not(:last-child) {
    margin-bottom: 42px;
}

.info--right span:not(:last-child) {
    margin-bottom: 30px;
}

.info__link {
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration-line: underline;
    transition: all 0.3s;
}

@media (any-hover: hover) {
    .info__link:hover {
        text-decoration-line: none;
    }
}

@media (max-width: 1084px) {
    .hero__content {
        gap: 20px;
    }
    .content__item {
        /*padding: 37px 20px 35px 20px;*/
    }

    .info__title {
        /*font-size: 28px;*/
    }

}

@media (max-width: 759px) {
    .content__item:nth-child(1n + 1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-column: span 2;
    }

    .item__image {
        object-position: top;
    }
    
}

@media (max-width: 392.98px) {
    .item__image {
        object-position: right;
    }

    .overlay::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(145, 13, 232, 0.48);
    }

    .overlay__yellow::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(238, 163, 6, 0.47);
    }

    .item__info {
        text-align: center;
    }

    .item__info {
        text-shadow: 1px 1px 1px #575757;
    }


}

/*---------------Page. New arrival-----------*/
.page__new-arrival {

}

.new-arrival {
}

.new-arrival__container {
}

.new-arrival__about {
}

.new-arrival__about:not(:last-child) {
    margin-bottom: 70px;
}

.about__title {
    color: #3C4242;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.68px;
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.about__title::before {
    content: '';
    flex: 0 0 6px;
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: #8A33FD;
}

.new-arrival__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    max-width: 1255px;
    grid-auto-columns: 262px;
    gap: 38px;
}

.content {
}

.content__item-new {

}

.content__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 262 / 262;
    border-radius: 12px;

}

.content__image img {
    height: 100%;
    /*aspect-ratio: 262 / 262;*/
}

.content__image:not(:last-child) {
    margin-bottom: 37px;
}

.content__title {
    color: #3C4242;
    font-family: Causten, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
}




/*--------------Footer----------*/
.footer {
}

.footer__title {
}