/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Загальні стилі */
body {
    font-family: 'Core Sans C', sans-serif;
    line-height: 1.2;
    font-size: 18px;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}

/*-------------Header-----------------*/
.header,
.footer {
    padding: 20px;
    background: rgba(65, 6, 79, 0.72);
    color: #FFF;
}

/*-----------------Page. Hero-------------------*/
.page {
    padding: 60px 0 60px 0;
}

.page__hero:not(:last-child) {
    margin-bottom: 70px;
}

.hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.content__item {
    position: relative;
    padding: 57px 30px 55px 30px;
}

.item__image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item__image img {
    width: 100%;
    height: 100%;
}

.item__info {
    text-shadow: 1px 1px 2px rgb(51, 50, 50);
}

.info--left {
    max-width: 236px;
    position: relative;
    color: #FFF;
}

.info--right {
    max-width: 266px;
    position: relative;
    color: #FFF;
}

.info__subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 0.251px;
}

.info__subtitle:not(:last-child) {
    margin-bottom: 35px;
}

.info__subtitle--right:not(:last-child) {
    margin-bottom: 24px;
}

.info__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.3;
    text-transform: capitalize;
}

.info__title:not(:last-child) {
    margin-bottom: 10px;
}

.info__sale {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.251px;
    text-transform: capitalize;
}

.info__sale:not(:last-child) {
    margin-bottom: 42px;
}

.info__sale:not(:last-child) {
    margin-bottom: 30px;
}

.info__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
    position: relative;
    transition: all 0.3s;
}

.info__link::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #f6f3f3;
    transition: all 0.3s;
}

@media (any-hover: hover) {
    .info__link:hover::after {
        top: 50%;
        opacity: 0;
    }

    .info__link--yellow:hover {
        text-shadow: 1px 1px 2px #fd6c05, 0 0 1em #d09526, 0 0 0.2em #c79924;

    }

    .info__link--purple:hover {
        text-shadow: 1px 1px 2px #d205f1, 0 0 1em #5206a4, 0 0 0.2em #6c15d5;
    }
}

@media (max-width: 1199.98px) {
    .page {
        padding: 40px 0 40px 0;
    }
}

@media (max-width: 1084px) {
    .page__hero:not(:last-child) {
        margin-bottom: 30px;
    }

    .hero__content {
        gap: 17px;
    }
}

@media (max-width: 759px) {
    .page {
        padding: 25px 0 25px 0;
    }

    .content__item:nth-child(1n + 1) {
        grid-column: span 2;
    }

    .item__image {
        object-position: top;
    }
}

@media (max-width: 480.98px) {
    .hero__content {
        gap: 14px;
    }

    .page {
        padding: 20px 0 20px 0;
    }

    .page__hero:not(:last-child) {
        margin-bottom: 28px;
    }

    .content__item {
        padding: 20px;
    }

    .item__image {
        object-position: right;
    }

    .item__overlay::before {
        content: '';
        display: inline-block;
        border-radius: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.3);
    }

    .item__info {
        text-align: center;
    }

    .info--left,
    .info--right {
        max-width: none;
    }

    .info__link {
        display: block;

    }

    .info__link::after {
        width: 0;
    }
}

@media (max-width: 320.98px) {
    .info__title {
        font-size: 29px;
    }

}

/*---------------Page. New arrival-----------*/
.page__new-arrival:not(:last-child) {
    margin-bottom: 50px;
}

.new-arrival__about:not(:last-child) {
    margin-bottom: 70px;
}

.about__title {
    color: #3C4242;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.68px;
    text-transform: capitalize;
    position: relative;
    padding-left: 20px;
}

.about__title::before {
    content: '';
    position: absolute;
    top: 16%;
    left: 0;
    width: 6px;
    height: 70%;
    border-radius: 10px;
    background: #8A33FD;
}

.new-arrival__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    max-width: 1255px;
    grid-auto-columns: 262px;
    gap: 38px;
}

.content__wrapper {
    overflow: hidden;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
}

.content__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s;
    transform: scale(1.01);
}

.content__image img {
    height: 100%;
    width: 100%;
}

.content__wrapper:not(:last-child) {
    margin-bottom: 37px;
}

.content__title {
    color: #3C4242;
    font-family: Causten, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    transition: all 0.3s;
}

@media (any-hover: hover) {
    .content__item-new:hover .content__title {
        letter-spacing: 1.1px;
    }

    .content__image:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 1084.99px) {
    .page__new-arrival:not(:last-child) {
        margin-bottom: 28px;
    }

    .new-arrival__about:not(:last-child) {
        margin-bottom: 14px;
    }

    .about__title {
        font-size: 24px;
    }

    .new-arrival__content {
        gap: 18px;
    }

    .content__wrapper:not(:last-child) {
        margin-bottom: 18px;
    }
}

@media (max-width: 769.99px) {
    .content__wrapper:not(:last-child) {
        margin-bottom: 15px;
    }
}

@media (max-width: 519.99px) {
    .new-arrival__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 1255px;
        gap: 15px;
    }

    .content__wrapper:not(:last-child) {
        margin-bottom: 10px;
    }

    .content__title {
        font-size: 18px;
    }
}

@media (max-width: 444.98px) {
    .new-arrival__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        max-width: 1255px;
        gap: 15px;
    }

}

/*--------------Page. Big saving zone-----------*/
.saving__about:not(:last-child) {
    margin-bottom: 70px;
}

.saving__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    min-height: 240px;
    justify-content: center;
}

.content__sav-item {
    overflow: hidden;
    position: relative;
    grid-column: span 2;
    background-color: rgb(138, 172, 182);
    padding: 30px 15px 40px 20px;
    border-radius: 12px;
    font-family: Causten, sans-serif;
    color: #3C4242;
    display: grid;
    justify-content: end;
}

.content__sav-item--big {
    grid-column: span 3;
    padding: 35px 90px 30px 0;
}

.content__sav-item--left {
    justify-content: start;
}

.item-sav--white {
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.73);
}

.item-sav__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.item-sav__image img {
    width: 100%;
    height: 100%;
}

.item-sav__info {
    position: relative;
    z-index: 2;
    max-width: 160px;
}

.item-sav__info::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    filter: blur(12px);
    z-index: -1;
    border-radius: 20px;
}

.item-sav__info--end {
    text-align: end;
}

.info-sav__title {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    transition: all 0.3s;
}

.info-sav--big .info-sav__title {
    font-size: 32px;
    letter-spacing: 0.64px;
}

.item-sav__info--end .info-sav__title {
    max-width: 104px;
}

.info-sav__title:not(:last-child) {
    margin-bottom: 17px;
}

.info-sav__text {
    font-size: 14px;
    font-weight: 600;
}

.info-sav--big .info-sav__text {
    font-size: 16px;
}

.info-sav__text:not(:last-child) {
    margin-bottom: 13px;
}

.info-sav__sale {
    font-weight: 700;
    text-transform: uppercase;
}

.info-sav__sale:not(:last-child) {
    margin-bottom: 34px;
}

.info-sav--big .info-sav__sale {
    font-size: 20px;
}

.info-sav__link {
    display: inline-block;
    padding: 10px 25px; /* якщо вказати падінги з макету- зовнішній вигляд посилання,стилізованого під кнопку,виглядає не дуже */
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 4px;
    color: #3C4242;
    border: 2px solid #3C4242;
    transition: all 0.3s;
}

.info-sav__link--bg {
    color: #FFF;
    border: 1px solid #FFF;
}

.info-sav__link:not(:first-child) {
    margin-top: 70px;
}

.info-sav__link--arrow {
    position: relative;
}

.info-sav__link--arrow::before {
    content: '';
    width: 23px;
    height: 20px;
    position: absolute;
    top: -65px;
    transform: translateX(-50%);
    left: 50%;
    background: url("../img/icons/black-arrow.svg") 0 90%/100% no-repeat;
}

.item-sav--white .info-sav__link--arrow::before {
    content: '';
    width: 23px;
    height: 20px;
    position: absolute;
    top: -65px;
    transform: translateX(-50%);
    left: 50%;
    background: url("../img/icons/white-arrow.svg") 10% 100%/100% no-repeat;
}

.info-sav__button {
    display: inline-block;
    border-radius: 4px;
    background: #3C4242;
    padding: 8px 16px;
    text-align: center;
    font-family: Causten, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.3s;
}

.info-sav__button:not(:last-child) {
    margin-bottom: 33px;
}

@media (any-hover: hover) {
    .info-sav__title:hover {
        letter-spacing: 1.2px;

    }

    .info-sav__link:hover,
    .info-sav__link--bg:hover {
        color: #FFF;
        border: 2px solid #FFF;
        background-color: rgba(30, 30, 30, 0.56);
    }

    .info-sav__link--bg:hover {
        border: 1px solid #FFF;
    }

    .info-sav__button:hover {
        color: #FFF;
        background-color: rgba(40, 40, 40, 0.47);
    }
}

@media (max-width: 1162.98px) {
    .saving__about:not(:last-child) {
        margin-bottom: 35px;
    }

    .saving__content {
        gap: 15px;
    }

    .item-sav--align {
        text-align: right;
    }
}

@media (max-width: 950.98px) {
    .content__sav-item {
        grid-column: span 3;
    }

    .saving__about:not(:last-child) {
        margin-bottom: 14px;
    }

    .saving__content {
        gap: 13px;
    }

    .content__sav-item--big {
        padding: 35px 15px 30px 0;
        text-align: right;
    }

    .content__sav-item:last-child:nth-child(odd) {
        grid-column: span 6;
    }

    .content__sav-item:last-child:nth-child(even) {
        grid-column: span 3;
    }
}

@media (max-width: 645.98px) {
    .content__sav-item,
    .content__sav-item:last-child:nth-child(odd),
    .content__sav-item:last-child:nth-child(even) {
        grid-column: span 6;
    }

    .item-sav__image {
        object-position: top;
    }

    .content__sav-item {
        padding: 30px;
    }
}

@media (max-width: 480.98px) {
    .content__sav-item {
        padding: 11px;
    }

    .content__sav-item--big .item-sav__info::before,
    .item-sav--align .item-sav__info::before {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .info-sav__link {
        border: 3px solid;
    }

    .info-sav__link--bg {
        border: 2px solid;
    }
}

/*-----------------Footer. Header (@media)-------------*/
.header__title,
.footer__title {
    font-size: 20px;
}

@media (max-width: 645.98px) {
    .header,
    .footer {
        padding: 13px;
    }

    .header__title,
    .footer__title {
        text-align: center;
        font-size: 15px;
    }
}

@media (max-width: 320.98px) {
    .footer__title {
        font-size: 12px;
    }

}
