/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Загальні стилі */
body {
    font-family: 'Cormorant Infant', serif;
    line-height: 1.2;
    font-size: 18px;
    background: #FEFAF4;
}

[class*="__container"] {
    max-width: 1203px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    padding: 40px 25px;
    background-color: rgba(96, 0, 0, 0.83);
    font-size: 30px;
    color: #e5d5d5;
}

.page {
    padding-top: 90px;
    flex-grow: 1;
}

@media (max-width: 1199.98px) {
    .header,
    .footer {
        padding: 20px 15px;
        font-size: 25px;
    }
}

@media (max-width: 480.98px) {
    .header,
    .footer {
        padding: 10px 15px;
    }
}
/*-------------------Page. Bestseller--------------------*/
.page__bestseller {
    margin-bottom: 60px;
    background: url("../img/bestseller-body-decor.webp") 100% 155% /12% no-repeat;
}

.bestseller__title:not(:last-child) {
    margin-bottom: 53px;
}

.title__main {
    color: #000;
    font-family: 'DM Serif Text', serif;
    font-size: 58px;
    line-height: 1;
    text-transform: capitalize;
}

.title__main:not(:last-child) {
    margin-bottom: 27px;
}

.title__subtitle {
    color: #606060;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

.bestseller__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    row-gap: 20px;
}

.content__item {
    flex: 0 1 33.333%;
    padding: 0 24px;
}

.item__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 357 / 240;
}

.item__image:not(:last-child),
.item__about-product:not(:last-child) {
    margin-bottom: 16px;
}

.item__about-product {
    color: #000;
    font-family: 'DM Serif Text', serif;
    font-size: 24px;
}

.item p {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.7;
}

.item p:not(:last-child) {
    margin-bottom: 6px;
}

.item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: #F55529;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
}

.item__link::after {
    content: '';
    width: 25px;
    height: 25px;
    background: url("../img/icons/link-arrow.svg") 0 0 / 80% no-repeat;
}

@media (any-hover: hover) {
    .item__link:hover {
        text-decoration: underline #F55529;
    }
}

@media (max-width: 1322px) {
    .page__bestseller {
        background: url("../img/bestseller-body-decor.webp") 100% 112% /10% no-repeat;
    }
}

@media (max-width: 1199.98px) {
    .page {
        padding-top: 40px;
    }

    .page__bestseller {
        margin-bottom: 50px;
        background: none;
    }

    .bestseller__title:not(:last-child) {
        margin-bottom: 35px;
    }

    .title__main {
        font-size: 47px;
    }

    .item__link::after {
        content: '';
        width: 28px;
        height: 28px;
        background: url("../img/icons/link-arrow.svg") 0 0 / 80% no-repeat;
    }
}


@media (max-width: 990.98px) {
    .page {
        padding-top: 25px;
    }
    .page__bestseller {
        margin-bottom: 30px;
    }
    .bestseller__title:not(:last-child) {
        margin-bottom: 25px;
    }
    .title__main:not(:last-child) {
        margin-bottom: 20px;
    }

    .title__main {
        font-size: 35px;
    }

    .title__subtitle {
        font-size: 18px;
    }

    .bestseller__content {
        margin: 0 -14px;
    }
    .content__item {
        padding: 0 14px;
    }
    .item__link {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .title__main {
        font-size: 29px;
    }

    .title__main:not(:last-child) {
        margin-bottom: 15px;
    }

    .title__subtitle {
        font-size: 17px;
    }

    .content__item {
        flex: 0 1 50%;
    }

    .item__about-product {
        font-size: 22px;
    }
}

@media (max-width: 480.98px) {
    .page {
        padding-top: 12px;
    }

    .bestseller__title:not(:last-child) {
        margin-bottom: 20px;
    }

    .title__main:not(:last-child) {
        margin-bottom: 17px;
    }

    .content__item {
        flex: 0 1 100%;
    }
}

/*------------------Page. Our products-------------------*/
.page__products {
    /*margin-bottom: 60px;*/
    background: #0E333D;
    color: #FFF;
    padding: 40px 0;
}

.products__title {
    text-align: center;
}

.products__title:not(:last-child) {
    margin-bottom: 34px;
}

.title-prod__main {
    font-family: 'DM Serif Text', serif;
    font-size: 48px;
    line-height: 1.27;
}

.title-prod__about {
    color: #EBEBEB;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.27;
}

.title-prod__main:not(:last-child) {
    margin-bottom: 23px;
}

.products__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.products__nav:not(:last-child) {
    margin-bottom: 76px;
}

.item__nav-link {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    line-height: 1.27;
}

.item__nav-link--underline {
    text-decoration: underline;
}

.products__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -24px;
    row-gap: 20px;
}

.content-prod__item {
    padding: 0 24px;
    flex: 0 1 25%;
}

.item-prod__card {
    display: inline-block;
}

.item-prod__image {
    transition: all 0.3s ease;
    opacity: 0.85;
}

.item-prod__image:not(:last-child) {
    margin-bottom: 17px;
}

.item-prod__image img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 271 / 270;
}

.item-prod__about-product {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

.item-prod__about-product:not(:last-child) {
    margin-bottom: 12px;
}

.item-prod__card span {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

@media (any-hover: hover){
    .item-prod__image {
        transition: all 0.3s ease;
        opacity: 0.85;
    }

    .item-prod__image:hover {
        opacity: 1;
    }

    .item__nav-link:hover {
        text-decoration: underline white;
    }

    .item-prod__about-product:hover {
        text-decoration: underline #130b0b;
    }
}

@media (max-width: 1199.98px) {
    .products__content {
        margin: 0 -17px;
    }

    .content-prod__item {
        padding: 0 17px;
    }
    .item-prod__image {
        opacity: 1;
    }
}

@media (max-width: 990.98px) {
    .page__products {
        padding: 20px 0;
    }

    .products__title:not(:last-child) {
        margin-bottom: 22px;
    }

    .title-prod__main {
        font-size: 35px;
    }

    .title-prod__about {
        font-size: 18px;
    }

    .products__nav:not(:last-child) {
        margin-bottom: 33px;
    }

    .products__content {
        margin: 0 -14px;
    }

    .content-prod__item {
        padding: 0 14px;
    }

    .item-prod__about-product {
        font-size: 21px;
    }

    .item-prod__about-product:not(:last-child) {
        margin-bottom: 8px;
    }

    .item-prod__card span {
        font-size: 21px;
    }
}

@media (max-width: 767.98px) {
    .title-prod__main {
        font-size: 32px;
    }

    .title-prod__main:not(:last-child) {
        margin-bottom: 11px;
    }

    .title-prod__about {
        font-size: 16px;
    }

    .content-prod__item {
        flex: 0 1 33.333%;
    }

    .item-prod__image:not(:last-child) {
        margin-bottom: 8px;
    }

    .item-prod__about-product {
        font-size: 16px;
    }

    .item-prod__card span {
        font-size: 16px;
    }

    .item-prod__card {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .products__title:not(:last-child) {
        margin-bottom: 16px;
    }

    .products__nav:not(:last-child) {
        margin-bottom: 26px;
    }

    .products__content {
        margin: 0 -14px;
    }

    .content-prod__item {
        flex: 0 1 50%;
        padding: 0 14px;
    }
}

@media (max-width: 380px) {
    .page__products {
        padding: 10px 0;
    }

    .products__content {
        margin: 0 -14px;
    }

    .content-prod__item {
        flex: 0 1 100%;
        padding: 0 14px;
    }

    .item-prod__about-product {
        font-size: 20px;
    }

    .content-prod__item span {
        font-size: 20px;
    }

    .item-prod__about-product:not(:last-child) {
        margin-bottom: 8px;
    }
}

/*--------------------Page.Most popular product---------*/
.page__popular-prod {
    background: #FFF;
    padding: 40px;
}

.popular-prod__title {
    text-align: center;
}

.popular-prod__title:not(:last-child) {
    margin-bottom: 62px;
}

.title__popular-subtitle {
    color: #818181;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
}

.popular-prod__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -24px;
    row-gap: 20px;
}

.popular-prod__content:not(:last-child) {
    margin-bottom: 76px;
}

.popular-prod__link {
    text-align: center;
}

.link__view {
    display: inline-block;
    padding: 12px 42px;
    background: #FF7A49;
    color: #FFF;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

@media (any-hover: hover) {
    .link__view:hover {
        background: #e16031;
    }
}

@media (max-width: 990.98px) {
    .title__popular-subtitle {
        font-size: 25px;
    }
}

@media (max-width: 990.98px) {
    .popular-prod__title:not(:last-child) {
        margin-bottom: 40px;
    }

    .popular-prod__subtitle {
        font-size: 21px;
    }

    .popular-prod__content:not(:last-child) {
        margin-bottom: 56px;
    }
}

@media (max-width: 767.98px) {
    .page__popular-prod {
        padding: 20px;
    }

    .popular-prod__title:not(:last-child) {
        margin-bottom: 32px;
    }

    .popular-prod__content {
        margin: 0 -14px;
    }

    .item-prod__about-product {
        font-size: 21px;
    }

    .content-prod__item span {
        font-size: 21px;
    }

    .popular-prod__content:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media (max-width: 380px) {
    .page__popular-prod {
        padding: 12px;
    }

    .popular-prod__title:not(:last-child) {
        margin-bottom: 18px;
    }

    .title__main {
        font-size: 27px;
    }

    .title__popular-subtitle {
        font-size: 20px;
    }

    .popular-prod__content:not(:last-child) {
        margin-bottom: 25px;
    }
}





