@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.side__image img, .hero__background img, .logo__image img, .list__pic img, .social__schedule img, .contacts__mail img, .contacts__location img {
  width: 100%;
  height: 100%;
}

.nav__list, .mainhead__menu, .mainhead__container, .list, .social__item, .social, .contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.2;
}
.menu-open body {
  overflow: hidden;
}

[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

.header {
  width: 100%;
}
.header--position {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__top {
  padding: 1.1875em 0;
}
@media (max-width: 61.31125em) {
  .header__top {
    padding: 0.625em 0;
  }
}
.tophead {
  background-color: rgb(55, 57, 63);
  color: #FFF;
  min-height: 3.75rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
}
@media (max-width: 61.31125em) {
  .tophead {
    min-height: 1.875rem;
    font-size: 1rem;
  }
}
.tophead__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}
@media (max-width: 39.62375em) {
  .tophead__container {
    justify-content: center;
  }
}
.tophead__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2.5rem;
}
@media (max-width: 61.31125em) {
  .tophead__contacts {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.75rem;
  }
}
.contacts {
  transition: all 0.4s ease;
}
.contacts__item {
  column-gap: 0.4375rem;
  transition: color 0.2s;
}
.contacts__item address {
  display: inline-block;
  font-style: normal;
}
@media (any-hover: hover) {
  .contacts__item:hover {
    color: rgb(64, 221, 182);
  }
}
.contacts__location {
  flex: 0 1 0.9375rem;
  width: 0.9375rem;
  height: 1.375rem;
}
.contacts__mail {
  flex: 0 1 1.25rem;
  width: 1.25rem;
  height: 0.9375rem;
}
@media (max-width: 39.62375em) {
  .contacts {
    display: none;
  }
}

.social {
  column-gap: 2.5rem;
}
@media (max-width: 61.31125em) {
  .social {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
@media (max-width: 39.62375em) {
  .social {
    row-gap: 0;
  }
}
.social__item {
  column-gap: 0.4375rem;
}
.social__schedule {
  flex: 0 1 1rem;
  width: 1rem;
  height: 1rem;
}
@media (max-width: 39.62375em) {
  .social__schedule {
    display: none;
  }
}
.social span {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
}
@media (max-width: 39.62375em) {
  .social span {
    display: none;
  }
}
.list {
  column-gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 39.62375em) {
  .list {
    column-gap: 2rem;
  }
}
.list__link {
  display: block;
}
.list__pic {
  width: 1.0625rem;
  height: 1rem;
  transition: all 0.2s;
  transform: scale(1.001);
}
@media (any-hover: hover) {
  .list__pic:hover {
    transform: scale(1.2);
  }
}
@media (max-width: 61.31125em) {
  .list__pic {
    width: 1.375rem;
    height: 1.3125rem;
  }
}

.mainhead {
  background-color: #FFF;
  padding: 1.5625rem 0;
}
@media (max-width: 61.31125em) {
  .mainhead {
    padding: 0.3125rem 0;
  }
}
.mainhead__container {
  gap: 1.875rem;
}
@media (max-width: 71.6875em) {
  .mainhead__container {
    gap: 0.625rem;
  }
}
.mainhead__logo {
  display: flex;
  flex-shrink: 0;
}
.mainhead__menu {
  gap: 2.5rem;
}
@media (max-width: 71.74875em) {
  .mainhead__menu {
    gap: 0.625rem;
  }
}

.logo__image {
  width: 2.875rem;
  height: 2.125rem;
}
@media (max-width: 30.68625em) {
  .logo__image {
    width: 3.25rem;
    height: 2.625rem;
  }
}
.logo__text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 30.68625em) {
  .logo__text {
    display: none;
  }
}
.logo__text span {
  color: rgb(107, 119, 229);
}

.menu__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 0.5625rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  transform: translate(0, 0.625rem);
  pointer-events: none;
}
.menu__link {
  flex-shrink: 0;
}
.menu__button {
  padding: 1.1875rem;
  background: rgb(107, 119, 229);
}
@media (min-width: 61.31125em) {
  .menu__button {
    display: none;
  }
}
@media (max-width: 30.68625em) {
  .menu__button {
    padding: 0.9375rem;
  }
}
.menu__icon-menu {
  display: none;
}
@media (max-width: 61.31125em) {
  .menu__icon-menu {
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    flex: 0 0 1.875rem;
    position: relative;
    z-index: 10;
  }
  .menu__icon-menu::before, .menu__icon-menu::after,
  .menu__icon-menu span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #FFF;
    transition: all 0.4s ease;
  }
  .menu__icon-menu::before {
    top: 0;
  }
  .menu__icon-menu::after {
    bottom: 0;
  }
  .menu__icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .menu__icon-menu::before, .menu-open .menu__icon-menu::after {
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .menu__icon-menu span {
    transform: scale(0);
  }
  .menu-open .menu__icon-menu::before {
    transform: rotate(-45deg);
  }
  .menu-open .menu__icon-menu::after {
    transform: rotate(45deg);
  }
}

.submenu__list {
  text-align: left;
  min-width: 11.25rem;
  background-color: rgba(227, 227, 227, 0.44);
}
@media (any-hover: hover) {
  .submenu__item:hover .submenu__link {
    background-color: rgba(229, 229, 229, 0.76);
  }
}
.submenu__item:not(:last-child) {
  margin-bottom: 0.125em;
}
.submenu__link {
  display: block;
  padding: 0.8125rem;
}

@media (max-width: 61.31125em) {
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 100%;
    left: 0;
    transition: bottom 0.3s;
    background: rgb(255, 254, 254);
    background: linear-gradient(90deg, rgba(255, 254, 254, 0.9949229692) 31%, rgba(240, 239, 239, 0.9949229692) 65%, rgba(238, 237, 240, 0.9921218487) 93%, rgb(224, 224, 224) 100%);
    padding: 11.875rem 0.9375rem 0.625rem 0.9375rem;
    overflow: auto;
    z-index: -1;
  }
  .nav::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.125rem;
    top: 0;
    left: 100%;
    transition: left 0.3s;
    z-index: 2;
  }
  .menu-open .nav, .menu-open .nav::before {
    bottom: 0;
  }
}
.nav__list {
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
@media (max-width: 61.31125em) {
  .nav__list {
    flex-direction: column;
    text-align: right;
    row-gap: 0.9375rem;
  }
}
.nav__item {
  padding: 1.125rem 1.375rem;
  color: rgb(55, 57, 63);
  font-family: "Inter", sans-serif;
  text-align: center;
  transition: color 0.2s;
}
@media (any-hover: hover) {
  .nav__item:hover {
    background-color: rgba(227, 227, 227, 0.44);
  }
}
@media (max-width: 71.6875em) {
  .nav__item {
    padding: 0.5rem 0.75rem;
  }
}
@media (max-width: 61.31125em) {
  .nav__item {
    font-size: 1.5625rem;
  }
}
.nav__item--arrow {
  position: relative;
}
@media (any-hover: hover) {
  .nav__item--arrow:hover .menu__submenu {
    opacity: 1;
    transform: translate(0, -0.625rem);
    visibility: visible;
    pointer-events: all;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.nav__link::after {
  content: "";
  flex: 0 1 0.5625rem;
  width: 0.5625rem;
  height: 0.4375rem;
  background: url("../img/icons/menu-arrow.svg") 0 50%/100% no-repeat;
  transition: all 0.4s ease;
}

.link {
  display: inline-block;
  padding: 1.375rem 2.1875rem;
  background: rgb(107, 119, 229);
  color: #FFF;
  font-family: Cabin, sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.4s ease;
}
@media (any-hover: hover) {
  .link:hover {
    background: rgb(75, 88, 190);
  }
}
@media (max-width: 61.31125em) {
  .link {
    padding: 1.0625rem 1.9375rem;
  }
}
@media (max-width: 30.68625em) {
  .link {
    padding: 0.875rem;
  }
}

.page {
  padding-top: 11.0625rem;
}
@media (max-width: 61.31125em) {
  .page {
    padding-top: 8.75rem;
  }
}
@media (max-width: 39.43625em) {
  .page {
    padding-top: 6.25rem;
  }
}
.page__hero {
  position: relative;
  z-index: 10;
  min-height: calc(100svh - 11.875rem);
}
.page__hero:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  backdrop-filter: blur(0.5625rem);
  background: rgba(55, 57, 63, 0.91);
}
@media (max-width: 83.93625em) {
  .page__hero:before {
    width: 50%;
  }
}
@media (max-width: 44.37375em) {
  .page__hero:before {
    width: 100%;
  }
}
.page__business {
  display: flex;
  column-gap: 4.375rem;
}

.hero__container {
  max-width: 126.25rem;
}
.hero__background {
  object-fit: cover;
  object-position: right;
}
.hero__content {
  max-width: 40%;
  position: relative;
  z-index: 2;
  padding: 3.75rem 1.875rem;
}
@media (max-width: 83.93625em) {
  .hero__content {
    max-width: 50%;
    padding: 3.75rem 0.9375rem;
  }
}
@media (max-width: 44.37375em) {
  .hero__content {
    max-width: 100%;
  }
}

.content__button {
  display: flex;
  column-gap: 1.875rem;
}
@media (max-width: 60.37375em) {
  .content__button {
    flex-direction: column;
    row-gap: 0.5625rem;
  }
}

.body {
  color: #FFF;
}
.body:not(:last-child) {
  margin-bottom: 2rem;
}
.body__subtitle {
  font-weight: 600;
  line-height: 1.4;
}
@media (max-width: 22.06125em) {
  .body__subtitle {
    font-size: 1rem;
  }
}
.body__subtitle:not(:last-child) {
  margin-bottom: 1.6875rem;
}
.body__title {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}
@media (max-width: 59.37375em) {
  .body__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 22.06125em) {
  .body__title {
    font-size: 2.0625rem;
  }
}
.body__title:not(:last-child) {
  margin-bottom: 1.125rem;
}
.body__title span {
  color: #40DDB6;
}
.body__title p {
  color: rgb(185, 185, 185);
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
}

.button__link {
  flex-shrink: 0;
}
.button__get-link {
  color: #FFF;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.button__get-link:before {
  content: "";
  flex: 0 0 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  background: url("../img/icons/play.svg") 0 50%/100% no-repeat;
}
@media (any-hover: hover) {
  .button__get-link:hover {
    transform: scale(1.1);
  }
}

.link--color {
  background-color: rgb(64, 221, 182);
  color: #000;
}
@media (any-hover: hover) {
  .link--color:hover {
    background-color: #28af96;
  }
}
@media (max-width: 39.62375em) {
  .link--color {
    width: 100%;
  }
}

.business__side-content {
  max-width: 40%;
  padding: 9.4375rem 3.25rem 9.4375rem 18%;
  background-color: #F4F4F4;
}
@media (max-width: 83.93625em) {
  .business__side-content {
    max-width: 50%;
  }
}
.business__content {
  padding-top: 9.0625rem;
  max-width: 38.75rem;
}

.side__image {
  width: 100%;
  aspect-ratio: 408/466;
  object-fit: cover;
  object-position: center;
}
.content__title {
  max-width: 25.875rem;
}
.content__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.content__subtitle:not(:last-child) {
  margin-bottom: 1.875rem;
}
.content p:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.content p:not(:last-child) {
  margin-bottom: 1.25rem;
}
.content__list:not(:last-child) {
  margin-bottom: 2.8125rem;
}
.sub {
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
}
@media (max-width: 44.37375em) {
  .sub {
    justify-content: center;
  }
}
.sub:before {
  content: "";
  flex: 0 1 0.6875rem;
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: rgb(64, 221, 182);
}

.list-info__item {
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
}
.list-info__item:before {
  content: "";
  flex: 0 1 1.6875rem;
  width: 1.6875rem;
  height: 1.6875rem;
  background: url("../img/icons/check.svg") 0 50%/100% no-repeat;
}
.list-info__item:not(:last-child) {
  margin-bottom: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
