@use "sass:math";
@import "_functions.scss";
// Functions
@import "_reset.scss";
// Reset
@import "_fonts.scss";
// Fonts
@import "_vars&&templates.scss"; // Variables and templates

//-----------------------------BODY.WRAPPER------------------------
//-----------------------------------------------------------------
body {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;

  .menu-open & {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: toRem(1300);
  margin: 0 auto;
  padding: 0 toRem(15);
}

.wrapper {
  overflow: clip;
  min-height: $full-percentage;
  display: flex;
  flex-direction: column;

  & > main {
    flex-grow: 1;
  }
}

//-------------------------------HEADER-----------------------------------
//------------------------------------------------------------------------
.header {
  width: $full-percentage;
  // .header--position
  &--position {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
  }

  // .header__top
  &__top {
    padding: toEm(19) 0;

    @media (max-width: $tablet-breakpoint) {
      padding: toEm(10) 0;
    }
  }

  // .header__main
  &__main {
  }
}

.tophead {
  background-color: rgb(55, 57, 63);
  color: $white-color;
  min-height: toRem(60);
  font-family: $main-font;
  font-size: toRem(14);

  @media (max-width: $tablet-breakpoint) {
    min-height: toRem(30);
    font-size: toRem(16);

    //@media (max-width: $tablet-breakpoint) {
    //  position: fixed;
    //  width: $full-percentage;
    //  height: $full-percentage;
    //  top: 0;
    //  left: 100%;
    //  transition: left 0.3s;
    //  background-color: #c3d4f3;
    //  padding: toRem(190) toRem(15) toRem(30) toRem(15);
    //  overflow: auto;
    //
    //  &::before {
    //    content: '';
    //    position: fixed;
    //    width: $full-percentage;
    //    height: toRem(50);
    //    top: 0;
    //    left: $full-percentage;
    //    transition: left 0.3s;
    //    z-index: 2;
    //  }
    //
    //  .menu-open &,
    //  .menu-open &::before {
    //    left: 0;
    //  }
    //}
  }
  // .tophead__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(40);
  }

  // .tophead__contacts
  &__contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: toRem(40);

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: toRem(8);
    }
  }

  // .tophead__social
  &__social {
  }
}

.contacts {
  transition: $main-transition;
  // .contacts__item
  &__item {
    @extend %dis-flex-between;
    column-gap: toRem(7);

    address {
      display: inline-block;
      font-style: normal;
    }

    span {
      transition: color 0.2s;
      @media (any-hover: hover) {
        &:hover {
          color: $green-color;
        }
      }
    }
  }

  // .contacts__location
  &__location {
    flex: 0 1 toRem(15);
    width: toRem(15);
    height: toRem(22);
    @extend %image-size;
  }

  // .contacts__mail
  &__mail {
    flex: 0 1 toRem(20);
    width: toRem(20);
    height: toRem(15);
    @extend %image-size;
  }
}

.social {
  @extend %dis-flex-between;
  column-gap: toRem(40);

  @media (max-width: $tablet-breakpoint) {
    flex-direction: column;
    row-gap: toRem(8);
  }
  // .social__item
  &__item {
    @extend %dis-flex-between;
    column-gap: toRem(7);
  }

  // .social__schedule
  &__schedule {
    flex: 0 1 toRem(16);
    width: toRem(16);
    height: toRem(16);
    @extend %image-size;
  }

  // .social__list
  &__list {
  }
}

.list {
  @extend %dis-flex-between;
  column-gap: toRem(16);
  flex-wrap: wrap;
  // .list__link
  &__link {
    display: block;
  }

  // .list__pic
  &__pic {
    width: toRem(17);
    height: toRem(16);
    @extend %image-size;
    transition: all 0.2s;
    transform: scale(1.001);

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }

    @media (max-width: $tablet-breakpoint) {
      width: toRem(22);
      height: toRem(21);
    }
  }
}

.mainhead {
  background-color: $white-color;
  padding: toRem(25) 0;

  @media (max-width: $tablet-breakpoint) {
    padding: toRem(12) 0;
  }
  // .mainhead__container
  &__container {
    @extend %dis-flex-between;
    gap: toRem(30);

    @media (max-width: toEm(1147)) {
      gap: toRem(10);
    }
  }

  // .mainhead__logo
  &__logo {
    display: flex;
    flex-shrink: 0;
    font-family: $secondary-font;
    font-size: toRem(25);
    font-weight: 700;
    line-height: 1.5;

    span {
      color: $blue-color;
    }
  }

  // .mainhead__menu
  &__menu {
    @extend %dis-flex-between;
    gap: toRem(40);

    @media (max-width: toEm(1147.98)) {
      gap: toRem(10);
    }
  }
}

.menu {
  // .menu__nav
  &__nav {
  }

  // .menu__submenu
  &__submenu {
    position: absolute;
    top: $full-percentage;
    left: 0;
    padding-top: toRem(9);
    visibility: hidden;
    opacity: 0;
    transition: $main-transition;
    transform: translate(0, toRem(10));
    pointer-events: none;
  }

  // .menu__link
  &__link {
    flex-shrink: 0;
  }

  // .menu__button
  &__button {
    padding: toRem(19);
    background: $blue-color;

    @media (min-width: $tablet-breakpoint) {
      display: none;
    }
  }

  // .menu__icon-menu
  &__icon-menu {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: block;
      width: toRem(30);
      height: toRem(18);
      flex: 0 0 toRem(30);
      position: relative;
      z-index: 10;

      &::before,
      &::after,
      span {
        content: '';
        height: toRem(2);
        width: $full-percentage;
        position: absolute;
        left: 0;
        background-color: $white-color;
        transition: $main-transition;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        margin-top: toRem(-1);
      }

      .menu-open &::before,
      .menu-open &::after {
        top: 50%;
        margin-top: toRem(-1);
      }

      .menu-open & span {
        transform: scale(0);
      }

      .menu-open &::before {
        transform: rotate(-45deg);
      }

      .menu-open &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.submenu {
  // .submenu__list
  &__list {
    text-align: left;
    min-width: toRem(180);
    //padding: toRem(15);
    background-color: $second-hover-color;
  }

  // .submenu__item
  &__item {
    @media (any-hover: hover) {
      &:hover {
        .submenu__link {
          background-color: rgba(229, 229, 229, 0.76);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: toEm(2);
    }
  }

  // .submenu__link
  &__link {
    display: block;
    padding: toRem(13);
  }
}

.logo {
}

.nav {
  @media (max-width: $tablet-breakpoint) {
    position: fixed;
    width: $full-percentage;
    height: $full-percentage;
    bottom: 100%;
    left: 0;
    transition: bottom 0.3s;
    background-color: #c3d4f3;
    padding: toRem(190) toRem(15) toRem(30) toRem(15);
    overflow: auto;
    z-index: -1;

    &::before {
      content: '';
      position: fixed;
      width: $full-percentage;
      height: toRem(50);
      top: 0;
      left: $full-percentage;
      transition: left 0.3s;
      z-index: 2;
    }

    .menu-open &,
    .menu-open &::before {
      bottom: 0;
    }
  }
  // .nav__list
  &__list {
    @extend %dis-flex-between;
    flex-wrap: wrap;
    row-gap: toRem(10);

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
      text-align: right;
      row-gap: toRem(15);
    }
  }

  // .nav__item
  &__item {
    padding: toRem(18) toRem(22);
    color: rgb(55, 57, 63);
    font-family: $main-font;
    text-align: center;
    transition: color 0.2s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $second-hover-color;
      }
    }

    @media (max-width: toEm(1147)) {
      padding: toRem(8) toRem(12);
    }

    @media (max-width: $tablet-breakpoint) {
      font-size: toRem(25);
    }

    // .nav__item--arrow
    &--arrow {
      position: relative;

      @media (any-hover: hover) {
        &:hover {
          .menu__submenu {
            opacity: 1;
            transform: translate(0, toRem(-10));
            visibility: visible;
            pointer-events: all;
          }
        }
      }
    }
  }

  // .nav__link
  &__link {
    display: flex;
    align-items: center;
    column-gap: toRem(4);

    &::after {
      content: '';
      flex: 0 1 toRem(9);
      width: toRem(9);
      height: toRem(7);
      background: url("../img/icons/menu-arrow.svg") 0 50%/100% no-repeat;
      transition: $main-transition;

      //@media (any-hover: hover) {
      //  &:hover {
      //    transform: rotate(10deg);
      //  }
      //}
    }
  }
}

.link {
  display: inline-block;
  padding: toRem(22) toRem(35);
  background: $blue-color;
  color: $white-color;
  font-family: Cabin, sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  transition: $main-transition;

  @media (any-hover: hover) {
    &:hover {
      background: $hover-color;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    padding: toRem(17) toRem(31);
  }
}
//-------------------------------------------------------------------
//-----------------------MAIN.PAGE-----------------------------------
//-------------------------HERO--------------------------------------
.page {
  // .page__hero
  &__hero {
    position: relative;
    z-index: 10;
    min-height: calc(100svh - 12.1875rem);
  }

  // .page__business
  &__business {
    display: flex;
    column-gap: toRem(70);
  }

}

.hero {

  // .hero__background
  &__background {
    @extend %photo-absolute;
    object-fit: cover;
    //object-position: right;
    @extend %image-size
  }

  // .hero__content
  &__content {
    max-width: toRem(700);
    position: relative;
    padding: toRem(205) toRem(116) toRem(204) toRem(117);
    backdrop-filter: blur(9px);
    background: rgba(55, 57, 63, 0.91);
  }
}

.content {

  // .content__body
  &__body {

  }

  // .content__button
  &__button {
  }
}

.body {
  color: $white-color;
  // .body__subtitle
  &__subtitle {
    font-weight: 600;
    line-height: 1.4;
    &:not(:last-child) {
      margin-bottom: toRem(27);
    }
  }

  // .body__title
  &__title {
    font-family: $secondary-font;
    font-size: toRem(60);
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: toRem(18);
    }
    p {
      color: rgb(185, 185, 185);
      font-weight: 500;
      line-height: 1.4;
      text-align: left;
      &:not(:last-child) {
        margin-bottom: toRem(32);
      }
    }
  }
}

.button {
  // .button__link
  &__link {
  }

  // .button__video-link
  &__video-link {
  }
}

.link {
}
//---------------------------------------------------------------
//--------------------BUSINESS-----------------------------------

.business {
  // .business__body
  &__body {

  }

  // .business__side-content
  &__side-content {
    flex: 0 0 50%;
    padding: toRem(151) toRem(52) toRem(151) toRem(300);
    background-color: #F4F4F4;
  }

  // .business__content
  &__content {
  }
}

.side {
  // .side__image
  &__image {
    width: $full-percentage;
    aspect-ratio: 408 / 466;
    object-fit: cover;
    object-position: center;
    @extend %image-size;
  }

  // .side__content
  &__content {
  }
}

.content {
  // .content__title
  &__title {
  }

  // .content__subtitle
  &__subtitle {
  }

  // .content__list
  &__list {
  }

  // .content__box
  &__box {
  }
}

.button {
  // .button__get-link
  &__get-link {
  }
}

.sub {
}

.list {
  // .list__item
  &__item {
  }
}

.box {
  // .box__list
  &__list {
  }
}

.box-list {
  // .box-list__item
  &__item {
  }

  // .box-list__image
  &__image {
  }

  // .box-list__info
  &__info {
  }
}

.info {
  // .info__title
  &__title {
  }
}