// Reset styles
@import "_reset.scss";

// Manual fonts
@import "_fonts.scss";

//-------------Variables--------------
// Main variables
$main-font: 'Causten', sans-serif; //font
$secondary-font: 'Core Sans C', sans-serif;
$main-font-size: 18px; //font size
$black-color: #000; // black color
$white-color: #FFF; // white color
$main-line-height: 1.2; //line height
$full-percentage: 100%;
$main-transition: all 0.4s ease;
$header-background: #F6F6F6;
$hover-color: #6620C1;

// Breakpoint variables
$tablet-breakpoint: 965.98px;
$mobile-breakpoint: 730.98px;
$second-mobile-breakpoint: 502.98px;
$small-mobile-breakpoint: 440.98px;
$old-small-mobile-breakpoint: 320.98px;

// Templates
%photo-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%image-size {
  img {
    width: $full-percentage;
    height: $full-percentage;
  }
}

//-----------------------------BODY.WRAPPER------------------------
//-----------------------------------------------------------------
body {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;

  .menu-open & {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: clip;
  min-height: $full-percentage;
  display: flex;
  flex-direction: column;

  & > main {
    flex-grow: 1;
  }
}

//-------------------------------HEADER-----------------------------------
//------------------------------------------------------------------------
// block header
.header {
  width: $full-percentage;
  background-color: $white-color;

  // .header--position
  &--position {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  // .header__container
  &__container {
    padding: 10px 15px;
    min-height: 108px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1021.98px) {
      min-height: 60px;
      gap: 18px;
    }

    @media (max-width: 457.98px) {
      gap: 5px;
    }
  }

  // .header__logo
  &__logo {
    flex-shrink: 0;
    position: relative;
    z-index: 10;

    img {
      width: 91px;
      height: 45px;

      @media (max-width: $small-mobile-breakpoint) {
        width: 81px;
        height: 35px;
      }
    }
  }

  // .header__menu
  &__menu {
  }

  // .header__form
  &__form {
    position: relative;
    z-index: 10;
    display: flex;

    @media (max-width: $tablet-breakpoint) {
      flex-grow: 1;
    }

    @media (max-width: $second-mobile-breakpoint) {
      flex-grow: 0;
    }
  }

  // .header__action
  &__action {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 12px;
    position: relative;
    z-index: 10;

    @media (max-width: 457.98px) {
      column-gap: 5px;
    }
  }

  // .header__icon-menu
  &__icon-menu {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: block;
      width: 30px;
      height: 18px;
      flex: 0 0 30px;
      position: relative;
      z-index: 10;

      &::before,
      &::after,
      span {
        content: '';
        height: 2px;
        width: $full-percentage;
        position: absolute;
        left: 0;
        background-color: #a6a5a5;
        transition: $main-transition;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        top: 50%;
        margin-top: -1px;
      }

      .menu-open &::before,
      .menu-open &::after {
        top: 50%;
        margin-top: -1px;
      }

      .menu-open & span {
        transform: scale(0);
      }

      .menu-open &::before {
        transform: rotate(-45deg);
      }

      .menu-open &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.menu {
  @media (max-width: $tablet-breakpoint) {
    position: fixed;
    width: $full-percentage;
    height: $full-percentage;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    background-color: #efefef;
    padding: 90px 15px 30px 15px;
    overflow: auto;

    &::before {
      content: '';
      position: fixed;
      width: $full-percentage;
      height: 50px;
      top: 0;
      left: $full-percentage;
      transition: left 0.3s;
      z-index: 2;
      background-color: #efefef;
    }

    .menu-open &,
    .menu-open &::before {
      left: 0;
    }

  }

  // .menu__list
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 12px;

    @media (max-width: 1167.98px) {
      column-gap: 18px;
    }

    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
      text-align: right;
      row-gap: 28px;
    }
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    display: inline-block;
    color: #807D7E;
    font-family: $main-font;
    font-size: 22px;
    font-weight: 500;
    transition: $main-transition;

    @media (any-hover: hover) {
      &:hover {
        color: $hover-color;
      }
    }

    // .menu__link--active
    &--active {
      color: #3C4242;
      font-weight: 700;
    }
  }
}

.form {

  @media (max-width: 600.98px) {
    justify-content: end;
  }
  // .form__button
  &__button {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    @extend %image-size
  }

  // .form__search
  &__search {
    max-width: 267px;
    padding: 12px 20px 12px 40px;
    border-radius: 8px;
    background: $header-background;

    @media (max-width: 1056.98px) {
      max-width: 200px;
    }

    @media (max-width: $tablet-breakpoint) {
      max-width: $full-percentage;
      width: $full-percentage;
    }

    @media (max-width: $second-mobile-breakpoint) {
      display: none;
    }

    &::placeholder {
      color: #807D7E;
      font-size: 16px;
    }
  }
}

.action {
  // .action__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 12px;
    background: $header-background;
    transition: $main-transition;

    @media (any-hover: hover) {
      &:hover {
        color: $white-color;
        background: $hover-color;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
      }
    }

    @media (max-width: $second-mobile-breakpoint) {
      background: none;
      padding: 5px;
    }

    & > img {
      width: 20px;
      height: 20px;
    }

  }

  // .action__favorite
  &__favorite {
  }

  // .action__user
  &__user {
  }

  // .action__card
  &__card {
  }
}

//-------------------------------MAIN.PAGE-------------------------------
//------------------------------------------------------------------------
// block page
.page {
  padding: 108px 0;

  @media (max-width: 1021.98px) {
    padding: 65px 0;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-bottom: 40px;
  }
  // .page__hero
  &__hero {
    min-height: 818px;
    position: relative;
    z-index: 9;

    &:not(:last-child) {
      margin-bottom: 70px;

      @media (max-width: $tablet-breakpoint) {
        margin-bottom: 50px;
      }

      @media (max-width: $small-mobile-breakpoint) {
        margin-bottom: 30px;
      }
    }

    @media (max-width: $mobile-breakpoint) {
      min-height: 680px;
    }
  }

  // .page__advertising
  &__advertising {

    &:not(:last-child) {
      margin-bottom: 70px;

      @media (max-width: $tablet-breakpoint) {
        margin-bottom: 50px;
      }

      @media (max-width: $small-mobile-breakpoint) {
        margin-bottom: 30px;
      }
    }
  }

  // .page__categories
  &__categories {
    &:not(:last-child) {
      margin-bottom: 70px;

      @media (max-width: $tablet-breakpoint) {
        margin-bottom: 50px;
      }

      @media (max-width: $small-mobile-breakpoint) {
        margin-bottom: 30px;
      }
    }
  }
}

//-------------------------------HERO-----------------------------------
//----------------------------------------------------------------------
.hero {
  // .hero__container
  &__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  // .hero__image
  &__image {
    padding: 55px;
  }

  // .hero__content
  &__content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;

    @media (max-width: $small-mobile-breakpoint) {
      gap: 25px;
    }
  }

  // .hero__button-link
  &__button-link {
    flex-shrink: 0;
    position: relative;
    z-index: 9;
  }
}

.image {
  // .image__fullscreen
  &__fullscreen {
    @extend %photo-absolute;
    background-color: deepskyblue;
    object-fit: cover;
    object-position: center;

    @media (max-width: 864.98px) {
      object-position: 80%;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(33, 33, 33, 0.13);
        z-index: 10;
      }
    }
    @extend %image-size;
  }
}

.content {
  max-width: 500px;
  font-family: $secondary-font;
  color: $white-color;

  @media (max-width: 729.98px) {
    text-shadow: 1px 1px 1px black;
  }

  // .content__categories
  &__categories {
    flex-shrink: 1;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.157px;
    text-transform: capitalize;
  }

  // .content__about
  &__about {
    flex-shrink: 1;
    font-size: 78px;
    font-weight: 800;
    letter-spacing: 0.315px;

    @media (max-width: 540.98px) {
      font-size: 50px;
    }

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 45px;
    }
  }

  // .content__marks
  &__marks {
    flex-shrink: 1;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.315px;
  }
}

.button-link {
  display: inline-block;
  max-width: 280px;
  padding: 16px 72px;
  border-radius: 8px;
  background: $white-color;
  color: #3C4242;
  font-family: $main-font;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  transition: $main-transition;
  text-shadow: none;

  @media (any-hover: hover) {
    &:hover {
      color: $white-color;
      background: $hover-color;
    }
  }

  @media (max-width: $small-mobile-breakpoint) {
    max-width: none;
    width: 100%;
  }
}

//-------------------------ADVERTISING------------------------------------
//------------------------------------------------------------------------
// block advertising
.advertising {
  // .advertising__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 626px;
    border-radius: 10px;

    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .advertising__body-left
  &__body-left {
    padding: 113px 74px;
    position: relative;
    overflow: hidden;
    border-radius: 10px 0 0 10px;

    @media (max-width: $mobile-breakpoint) {
      border-radius: 10px 10px 0 0;
      padding: 54px;
    }

    @media (max-width: $small-mobile-breakpoint) {
      padding: 20px;
    }
  }

  // .advertising__body-right
  &__body-right {
    overflow: hidden;

    & > img {
      background-color: #ccad5f;
      border-radius: 0 10px 10px 0;
      width: $full-percentage;
      height: $full-percentage;
      aspect-ratio: 627 / 626;
      object-fit: cover;
      object-position: center;

      @media (max-width: $mobile-breakpoint) {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.body {

  // .body__background
  &__background {
    background-color: #38643e;
    object-fit: cover;
    object-position: center;
    @extend %photo-absolute;
    @extend %image-size;

  }

  // .body__content
  &__content {
    position: relative;
    z-index: 9;
  }
}

.content-ad {
  color: $white-color;
  max-width: 466px;

  @media (max-width: $small-mobile-breakpoint) {
    text-align: center;
    text-shadow: 1px 1px 2px #676767;
  }

  p {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;

    @media (max-width: $old-small-mobile-breakpoint) {
      font-size: $main-font-size;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @media (max-width: $small-mobile-breakpoint) {
        margin-bottom: 25px;
      }
    }
  }

  // .content-ad__title
  &__title {
    font-family: $secondary-font;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: 0.208px;
    text-transform: uppercase;

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 26px;
    }

    @media (max-width: $old-small-mobile-breakpoint) {
      font-size: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 29px;

      @media (max-width: $small-mobile-breakpoint) {
        margin-bottom: 15px;
      }
    }
  }

  // .content-ad__button-link
  &__button-link {
    padding: 12px 44px;

    @media (max-width: $small-mobile-breakpoint) {
      text-shadow: none;
      width: $full-percentage;
    }

    @media (max-width: $small-mobile-breakpoint) {
      font-size: 20px;
    }
  }
}

.button-link {
}

//--------------------------CATEGORIES------------------------------------
//------------------------------------------------------------------------
// block categories
.categories {
  // .categories__container
  &__container {
  }

  // .categories__about
  &__about {
  }

  // .categories__content
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    align-content: start;

    @media (max-width: 1199.98px) {
      column-gap: 20px;
    }

    @media (max-width: $mobile-breakpoint) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 13px;
      row-gap: 13px;
    }

    @media (max-width: $second-mobile-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }

    @media (max-width: 350.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.about {
  // .about__title
  &__title {
    color: #3C4242;
    font-family: $secondary-font;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.68px;
    padding-left: 20px;
    position: relative;

    @media (max-width: 1199.98px) {
      font-size: 30px;
    }

    @media (max-width: $second-mobile-breakpoint) {
      font-size: 25px;
    }

    @media (max-width: $small-mobile-breakpoint) {
      text-align: center;
      padding-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 16%;
      left: 0;
      width: 6px;
      height: 70%;
      border-radius: 10px;
      background: #8A33FD;

      @media (max-width: $small-mobile-breakpoint) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 70px;

      @media (max-width: 1199.98px) {
        margin-bottom: 35px;
      }

      @media (max-width: $second-mobile-breakpoint) {
        margin-bottom: 20px;
      }

      @media (max-width: 350.98px) {
        margin-bottom: 15px;
      }
    }
  }
}

.content-product {
  // .content-product__item
  &__item {
  }
}

.item {
  // .item__link
  &__link {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media (max-width: $second-mobile-breakpoint) {
      row-gap: 5px;
    }
  }

  // .item__image
  &__image {
    border-radius: 10px;
    width: $full-percentage;
    height: $full-percentage;
    aspect-ratio: 270 / 393;
    object-fit: cover;
    object-position: center;
    @extend %image-size;
  }

  // .item__content
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    column-gap: 40px;

    @media (max-width: $tablet-breakpoint) {
      justify-content: center;
    }
  }
}

// .content-item
.content-item {
  // .content-item__description
  &__description {
  }

  // .content-item__link
  &__link {
    width: 18px;
    height: 12px;
    transition: $main-transition;
    @extend %image-size;

    @media (any-hover: hover) {
      &:hover {
        transform: translate(50%);
      }
    }

    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }
}

.description {
  max-width: 180px;
  font-family: Poppins, sans-serif;
  line-height: 1.4;
  font-weight: 500;

  @media (max-width: $tablet-breakpoint) {
    text-align: center;
  }

  // .description__title
  &__title {
    color: #191919;
    line-height: 1.4;
    letter-spacing: -0.715px;
    transition: $main-transition;

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $hover-color;
      }
    }
  }

  // .description__text
  &__text {
    color: #7F7F7F;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.536px;
    transition: $main-transition;

    @media (any-hover: hover) {
      &:hover {
        color: $hover-color;
      }
    }
  }
}

//-------------------------------FOOTER-----------------------------------
//------------------------------------------------------------------------
// block footer
.footer {
  background: #3C4242;
  padding: 10px;
  min-height: 50px;
  // .footer__title
  &__title {
    text-align: center;
    color: $white-color;
    font-family: $secondary-font;
    font-weight: 700;
    line-height: 2;

    @media (max-width: $mobile-breakpoint) {
      font-size: 15px;
    }
  }
}



