/* Підключення шрифтів */
@import url('fonts.css');
/* Скидання стилів */
@import url('reset.css');

/* Основні стилі */
body {
    font-family: Inter, sans-serif;
    font-size: 18px;
}

.header-title {
    padding: 5px;
    margin-bottom: 70px;
}

h1,
h6 {
    text-align: center;
    background-color: #40ddb6;
    font-family: Causten, sans-serif;
    color: white;
    text-shadow: 2px 3px #807D7E;
    font-size: 29px;
    font-weight: 700;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: thick double #17cea2;
}

/* Стилі для Licencing */
.main-block-licencing {
    margin-bottom: 70px;
}

.licencing-container {
    max-width: 1218px;
    margin: 0 auto;
    font-size: 0;
}

.licencing-content-title {
    /*max-width: 296px;*/
    text-align: center;
    margin-bottom: 70px;
}

.licencing-title {
    margin-bottom: 16px;
}

.licencing-decor {
    display: inline-block;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
}

/* Загальні для заголовків */
.main-block-licencing h3,
h4 {
    color: #37393F;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    line-height: 1.21;
}

.licencing-title h2 {
    display: inline-block;
    color: #37393F;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.21;
}

.licencing-subtitle h3 {
    text-align: center;
    font-size: 60px;
}

.licencing-content-icons {
    margin-bottom: 100px;
}

.licencing-content-icons h3 {;
    font-size: 40px;
    margin-bottom: 11px;
}

.licencing-content-icons p {
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
    margin-bottom: 32px;
}

.licencing-content-icons h4 {
    font-size: 30px;
}

.licencing-content-icons span {
    color: #40DDB6;
}

.licencing-content-text {
    margin-bottom: 100px;
}

.licencing-content-text h3 {
    font-size: 40px;
    margin-bottom: 11px;
}

.licencing-content-text p {
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.46;
    margin-bottom: 24px;
}

.licencing-content-text p:last-child {
    margin-bottom: 0;
}

.color h4 {
    font-size: 30px;
    margin-bottom: 8px;
}

.color span {
    color: #40DDB6;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
}

.color p {
    color: #40DDB6;
    font-size: 18px;
    line-height: 1.46;
}

.licencing-content-output h4 {
    font-size: 40px;
    margin-bottom: 11px;
}

.licencing-content-output p {
    color: #7D7D7D;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.46;
}

.licencing-content-output a {
    color: #40DDB6;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
}

/* Project information */
.project-block {
    margin-bottom: 70px;
}

.project-container {
    max-width: 838px;
    margin: 0 auto;
    font-size: 0;
}

.project-title {
    max-width: 399px;
    margin-bottom: 13px;
}

.project-title h2 {
    color: #37393F;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.27;
}

.project-content {
    margin-bottom: 35px;
}

.project-content p {
    color: #7D7D7D;
    font-size: 18px;
    line-height: 1.46;
    margin-bottom: 35px;
}

.project-content p:first-child {
    margin-bottom: 29px;
}

.project-content p:last-child {
    margin-bottom: 0;
}

.project-content ul {
    max-width: 447px;
    margin-bottom: 35px;
    padding-left: 30px;
    /*border: 7px inset rgba(218, 209, 209, 0.75);*/
}

.project-content > ul > li {
    color: #7D7D7D;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
    list-style: disc;
    margin-bottom: 26px;
}

.project-content li:last-child {
    margin-bottom: 0;
}

.project-content > ol {
    max-width: 457px;
    padding-left: 42px;
    margin-bottom: 35px;
    /*border: 7px inset rgba(4, 150, 248, 0.37);*/
}

.project-content > ol > li {
    color: #7D7D7D;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.46;
    list-style: decimal-leading-zero;
    margin-bottom: 26px;
}

/* Clothing for women online in India */
.clothing-india-block {
    margin-bottom: 40px;
}

.clothing-india-container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 0;
}

.clothing-india-decor {
    display: inline-block;
    border-radius: 10px;
    background: #8A33FD;
    width: 6px;
    height: 26px;
    margin-right: 15px;
}

.clothing-india-title {
    max-width: 573px;
    margin-bottom: 30px;
}

.clothing-india-title h3 {
    display: inline-block;
    color: #3C4242;
    font-family: 'Core Sans C', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    vertical-align: top;
}

.clothing-india-content {
    padding: 0 2px 0 21px;
}

.clothing-india-content h4 {
    color: #807D7E;
    font-family: 'Core Sans C', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.clothing-india-content > h4 + p {
    margin-bottom: 20px;
}

.clothing-india-content p {
    color: #807D7E;
    font-family: Causten, sans-serif;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.clothing-india-content span {
    color: #807D7E;
    font-family: Causten, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}

.clothing-india-content p:last-of-type {
    margin-bottom: 20px;
}

.clothing-india-link {
    max-width: 168px;
}

.clothing-india-link a {
    color: #807D7E;
    font-family: 'Core Sans C', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}

/* Jewellery. WHAT WE DO */
.jewellery-create-block {
    margin-bottom: 80px;
}

.jewellery-create-container {
    max-width: 1114px;
    margin: 0 auto;
    font-size: 0;
}

.jewellery-create-content {
    display: inline-block;
    max-width: 525px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    padding: 70px 0;
    margin-right: 75px;
}

.jewellery-create-content h3 {
    color: #D58417;
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.jewellery-create-content h2 {
    color: #000;
    font-size: 64px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 31px;
}

.jewellery-create-content p {
    color: #606060;
    font-size: 30px;
    line-height: 1.4;
}

.jewellery-image-block {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.jewellery-image-block div {
    vertical-align: middle;
    display: inline-block;
}

.jewellery-image-first {
    width: 177px;
    height: 336px;
    border-radius: 235px;
    border: 1px solid #502203;
    margin-right: 30px;
}

.jewellery-image-first img {
    border-radius: 235px;
    padding-top: 14px;
    margin-left: -10px;
}

.jewellery-image-second {
    width: 307px;
    height: 500px;
    border-radius: 235px;
    border: 1px solid #502203;
}

.jewellery-image-second img {
    border-radius: 235px;
    padding-top: 13px;
    margin-left: -11px;
}

/* Відпрацювання вивченого матеріалу */
/* Example Tetris Game */
.example-title-container {
    max-width: 450px;
    margin: 0 auto 50px;
}

.example-title h3 {
    font-family: 'Pixelify Sans', fantasy;
    text-align: center;
    color: black;
    font-size: 37px;
    letter-spacing: 2px;
    box-shadow: 3px 3px #071a00, 20px 20px #54ef05;
}

/* Profile block */
.example-block {
    margin-bottom: 40px;
}

.example-block-container {
    max-width: 450px;
    min-height: 400px;
    margin: 0 auto 2px;
    border: 4px dashed black;
}

.example-content-profile {
    font-family: 'Pixelify Sans', fantasy;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    padding: 50px;
    background-color: #1c1f19;
}

.example-content-profile a {
    display: inline-block;
    width: 285px;
    border: 4px inset rgba(245, 246, 246, 0.94);
    border-radius: 50px;
    font-size: 26px;
    line-height: 1.8;
    margin-bottom: 55px;
}

.example-content-profile a:hover {
    text-shadow: 2px 2px #07e707;
}

.example-content-profile h3 {
    color: white;
    text-shadow: 2px 2px #07e707;
    font-size: 43px;
    line-height: 1.8;
    margin-bottom: 45px;
}

.example-content-profile h5 {
    text-shadow: 2px 2px #07e707;
}

/* Game block */
.example-container-game {
    max-width: 450px;
    min-height: 400px;
    margin: 0 auto 45px;
    font-size: 0;
    border: 4px dashed black;
}

.example-content-game {
    display: inline-block;
    vertical-align: top;
    background-color: #262b2c;
}

.cell {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: black;
    border-radius: 4px;
    border: 1px solid;
}

.color-red-block {
    background: #fa0404;
}

.color-blue-block {
    background: #0048ff;
}

.color-yellow-block {
    background: #e1fa04;
}

.color-green-block {
    background: #07e707;
}

.color-pink-block {
    background: deeppink;
}

.color-white-block {
    background: white;
}

.example-container {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.example-example > span {
    font-family: 'Causten', sans-serif;
    color: rgba(18, 24, 18, 0.92);
    font-size: 30px;
    border-top: 4px dashed #26c701;
    border-right: 3px dotted #0c8503;
    border-bottom: 6px double #0e100e;
    border-left: 4px solid rgba(85, 246, 4, 0.78);
}

.span-decorate-one {
    opacity: 0.6;
}

.span-decorate-two {
    opacity: 0.4;
}

.span-decorate-three {
    opacity: 0.3;
}

.example-example span {
    margin-right: 30px;
}

/* Footer */
.footer-title {
    padding: 5px;
}

.footer-title span {
    visibility: hidden;
}







